[2018-05-24 23:19] huntallcott opened #1 "Develop survey instrument"
@bblockwood, @dtaubinsky, @jackblun,
The goal of this Issue is to draft a survey instrument, presumably for implementation on MTurk and then TESS.
I have started a new survey instrument here.
Can you all take a look and add/comment as you see fit? I think @bblockwood has already, and I think that @dtaubinsky will look at the risk aversion questions. We should also think about whether we can set up

[2018-05-24 23:27] huntallcott opened #2 "Draft TESS application"
The goal of this Issue is to draft an application to TESS for a survey.
The TESS guidelines are [here](http://www.tessexperiments.org/introduction.html).
We need:
1. No more than five pages of proposal text
2. Survey instrument
3. Power calc
4. Bibliography
It cannot exceed 20 pages in double-spaced 12-point font.

I have started an application doc [here](https://docs.google.com/document/d/1e6TP_h

[2018-05-27 18:52] huntallcott commented on #1
@bblockwood, @dtaubinsky, @jackblun,
The goal of this Issue is to draft a survey instrument, presumably for implementation on MTurk and then TESS.
I have started a new survey instrument here.
Can you all take a look and add/comment as you see fit? I think @bblockwood has already, and I think that @dtaubinsky will look at the risk aversion questions. We should also think about whether we can set up

[2018-05-29 01:30] huntallcott opened #3 "Debate randomized experiment design"
@jackblun @bblockwood @dtaubinsky ,
The goal of this issue is to debate how to implement a randomized experiment to help measure bias.

I think that there are two types of experiments we might like to do:
1. Informational intervention, and measure effects on sales.
2. Measurement of WTP to play now vs. play later, to understand temptation. Presumably this is more relevant for scratch-offs.

For st

[2018-05-30 09:43] jackblun commented on #1
A few comments just added.

[2018-05-30 15:07] huntallcott opened #4 "Develop lottery demand model"
@jackblun @bblockwood @dtaubinsky ,
The goal of this issue is to develop the lottery demand model that we could estimate. I think that there are two desiderata:
1. Should be "structural" in the sense that it is derived from a utility function, so that we can do welfare analysis.
2. Should depend on parameters that matter for the optimal policy theory, e.g. distinguishing causal income effects, pre

[2018-05-30 20:37] bblockwood commented on #3
Thanks @huntallcott. A couple of thoughts:

1. On the informational intervention, a key piece will be how to frame the probability information in a way that plausibly debiases people. What do we think of the "ant on the football field" example? Relatedly, it would be nice to have a sense of what respondents' priors are before the intervention. (That could be elicited using the same illustration, e

[2018-05-31 22:44] dtaubinsky commented on #3
guys, I just updated the survey doc with the risk aversion questions. The first set are standard risk aversion questions using an MPL format. The second set rescales the probabilities of the first set, following Kahneman and Tversky's (1979) famous demonstration of "preference reversals" violating EU. Comparing set 1 to set 2 gives a sense of how much the probability weighting function flattens ou

[2018-05-31 23:07] dtaubinsky commented on #3
also, as a broad comment on the experimental design, I think the safest way to proceed is to first run the pilot on TESS and MTurk and see what we learn about the regressivity patterns and how those correlate with our survey measures of probability weighting. I would be hesitant to move forward full steam if we don't find significant regressivity and correlations with our measures of probability w

[2018-05-31 23:10] dtaubinsky commented on #4
@huntallcott Thanks much for doing this. Am I understanding correctly that the model allows choice of at most one lottery opportunity? Note that is not innocuous. And note also that with opportunities to purchase multiple lottery tickets, the question about bracketing---i.e., do people compound the lotteries or treat them separately---becomes a crucial one. in the compounding case we would have to

[2018-06-01 13:55] huntallcott commented on #4
Sorry for delay. Interesting point on bracketing.

What I proposed is a standard discrete choice model where a population of people each have one choice occasion over a given time window. This is a standard model used for cereal, cars, and other goods where the same consumer might in practice sometimes buy more than one. People think of this as a model the car market in one year, under the assumpt

[2018-06-01 15:26] huntallcott commented on #1
@dtaubinsky thank you. Some questions on the survey design comment above:
1. Let me make sure I understand the big picture of how you envision the survey. You're saying we do counterfactual normative consumer, think of probability weighting as a mistake, and think of risk preferences (and perhaps other questions we should add about how much you like the lottery) as preference controls?
2. If so, s

[2018-06-01 15:28] huntallcott commented on #3
@dtaubinsky any thoughts on this experimental design?
To measure bias, would you prefer this type of experiment, the counterfactual normative consumer survey stuff we're discussing in #1, or it's not clear yet and we should keep thinking about both?

[2018-06-01 17:27] dtaubinsky commented on #3
A worry is that informational interventions in this context would generate undue demand effects. Something as heavy-handed as telling people "hey, you realize the odds are tiny, right?" would probably raise eyebrows.

I wonder if maybe teaching people about expected value of gambles, and having them answer some questions about the expected value of various small probability gambles might be a wort

[2018-06-01 17:29] dtaubinsky commented on #4
Do we have a sense though of how many lottery tickets people buy, conditional on buying at least one, over the course of a week?

There must be some norms for evaluating when if unit demand makes more or less sense, right? Like in our context if people actually get 2 tickets 40% of the weeks on which they get at least one ticket, would we (and others) want to question the unit demand assumption?

[2018-06-01 17:32] bblockwood commented on #4
Thanks @huntallcott for drafting this. A few thoughts:

1. I share @dtaubinsky's concern about the assumption of one lottery ticket. Although it's common when modeling demand for things like cars, I think it could be more problematic here for two reasons. First, my sense is that people routinely buy many tickets within a short time horizon. (If our previous back-of-envelope estimates that lottery

[2018-06-01 17:44] dtaubinsky commented on #1
@huntallcott, yeah, I think it's a good idea to get a sense of impatience and a measure of how good people are at computing expected value. Although the latter may just be a proxy for numeracy. And then we have to wonder if numeracy is a good correlate of the propensity to make a mistake, or if it's actually a correlate of whether, e.g., you are in a profession where gambling is particularly looke

[2018-06-01 17:56] huntallcott commented on #4
If people buy two tickets in a week, we can define a choice occasion to be a day, or a minute.
And in response to @bblockwood , a discrete choice model allows quantities to respond to prices - a price decrease will generate an increase in purchase probability, this is standard.
Really the key limitation with a static discrete choice model is that we can't model the complementarities across choice

[2018-06-01 17:59] dtaubinsky commented on #4
@huntallcott Since I'm not familiar with discrete choice models, do you have an intuition for how redefining choice probabilities affects estimates? Like let's say people buy at most one ticket in a day, but instead of defining the choice occasion as a day, we define it as an hour or a minute? Would that affect things? Particularly the surplus measure?

[2018-06-03 19:37] jackblun commented on #4
1. A note on the literature: the surveys tend to ask about total expenditure rather than quantities of tickets so there is actually very little on the precise purchasing timing. However as @bblockwood pointed out, expenditure estimates suggest multiple tickets bought over the course of a week at least.

2. On the issue of assuming unit demand, there is a literature on 'discrete-continuous' choices

[2018-06-05 15:41] huntallcott commented on #2
@jackblun @bblockwood @dtaubinsky ,
I have drafted the body of the TESS application, see [here](https://docs.google.com/document/d/1e6TP_h8LUR3v0fKnEx5g28WBgiZMWdLONl79NWVnVg0/edit?usp=sharing).

* @bblockwood can you take a look at the theory and make sure it makes sense?
* @dtaubinsky it would be great if you could write in the 1-2 paragraphs on the risk measurement. I would also think about whe

[2018-06-05 22:59] dtaubinsky commented on #2
@huntallcott, thanks much for getting this going. I have written a first draft of the section on risk preferences. Jack, this is a first draft, so can you go through and make the writing good?

[2018-06-06 06:40] bblockwood commented on #2
Thanks @huntallcott! I have made some small edits (tracked), but otherwise the discussion of needed parameter estimates looks right for what we need for the theory model.

[2018-06-06 12:48] huntallcott commented on #2
I accepted @bblockwood 's changes.
@dtaubinsky I like your probability weighting and debiasing idea.
Just to clarify, a question you proposed is, "Is probability weighting a factor affecting lottery purchases?"
Does this mean that we are doing counterfactual normative consumer? And if so, should we be asking the preferences questions I quickly sketched in the doc? e.g.: I like the idea of envision

[2018-06-06 12:58] huntallcott opened #5 "Develop lotteries theory model"
The goal of this issue is to develop the lotteries theory model.
Lower-priority than finishing soda taxes, but I'm opening this thread because I had an idea.

Is it possible to develop the following proposition, inspired by @dtaubinsky's logic on the phone over the past few weeks.
Imagine making some simple parameterizations of curvature of social welfare function, purchases by income, income effe

[2018-06-06 16:50] dtaubinsky commented on #2
@huntallcott: No, i don't think so, because we don't know if probability weighting is a bias or not. Our EV debiasing variation will tell us how much of it might be bias.

I think it's very important that we make it clear that we are not going to claim that we are estimating how much consumers over-purchase lottery tickets. We are just doing some preliminary work to see if there might be some bias

[2018-06-06 16:55] jackblun commented on #2
Happy to review the TESS application and fill in sections as discussed above.

[2018-06-06 17:03] jackblun commented on #1
I've tidied up the survey instrument google doc [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit#). I'm thinking to cut on questions we could eliminate the other categories of games (keno / daily), and even combine Powerball, Megamillions and the in-state lotto games. Any thoughts on this?

@huntallcott I haven't included anything on temptation and unders

[2018-06-06 17:06] jackblun commented on #1
Also excluded are these suggestions of perceptions about total spending by wealthy / poor households. Would it make sense to ask what proportion of certain income groups play the lottery, such that the income groups align with those in the Gallup poll?

[2018-06-06 18:01] dtaubinsky commented on #1
@jackblun, I think there was some miscommunication about what "treatment" means

We should not provide them with the EVs in the table. Most people don't even understand what expected value means.

What I had in mind is what I wrote in the TESS application. Which is that we ask them to answer questions EVs using the type of text that I had written in the application: "On average, if 1000 people pla

[2018-06-06 21:49] jackblun commented on #1
Updated survey instrument [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit#)

[2018-06-07 09:27] jackblun commented on #2
@huntallcott or others, do you have any examples of similar-style power calculations to that which we need here?

I've filled out some of the literature on the public economics of lotteries and the NORC survey. Choices under risk section still to do. Once the lit sections are done I'll fill out the references.

[2018-06-07 09:53] jackblun commented on #1
Would be great to hear thoughts on:
1. Number of questions in expenditures survey section
2. Expected value treatment method
3. Communication of options in the hypothetical choice tables

[2018-06-08 10:51] jackblun commented on #2
Rough draft of lit section complete.

[2018-06-08 12:35] huntallcott commented on #2
@jackblun thanks for your work on this!
We need to remember that per the rules posted above, this app needs to be no more than 5 pages double-spaced. I think we can get major shortening in the "TESS bias measurement" and lit review sections, and I left some detailed comments to that effect. (Also, even for a full academic paper, I think that your otherwise-excellent lit review spends too much time

[2018-06-08 12:49] huntallcott commented on #2
@jackblun , you asked about power calc. I started a new appendix section in the TESS application doc that details the first half of the power calc. @dtaubinsky can you please add some text to the second half (on the experiment), enough so that @jackblun can see what to do?

[2018-06-08 13:34] huntallcott commented on #1
@jackblun thanks for your work on this.
I made some comments. Overall goals were to (1) shorten the survey given the incredibly tight TESS questions constraints, and (2) make the lottery choice part as easy to read as possible.
As part of (1), I think that for TESS and the TESS app, we need to take out some of the additional questions we've been debating. For MTurk, we can do whatever we want.
Can

[2018-06-09 19:37] dtaubinsky commented on #1
Thanks for your work on this!

On the expected values: we should cover the types of choices that they will
consider. So jack, please update the EV part to have the following
questions:

   - 10k with 50%
   - 6k with 90%
   - 600k with .9%
   - 10k with .5%
   - 6k with .9%

Sorry for delayed response, just coming back from a conference.

On Fri, Jun 8, 2018 at 9:34 AM, Hunt Allcott <notifications

[2018-06-09 20:03] dtaubinsky commented on #2
Hunt, sorry for being behind, but I'm a bit confused: What else should go
in the bias measurement part of the applications? I think we just want to
refer to the three multiple-price lists which we will put in the appendix,
and say that preference-reversals are indicative of probability weighting.
The we explain the EV treatment as a type of debiasing. All that I've
written in there already.

On Fr

[2018-06-11 07:53] jackblun commented on #1
Many thanks for comments Hunt and Dmitry. New version of survey [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit#heading=h.f5ffhs3mib7l). The number of questions has been cut quite heavily, in light of @huntallcott's comment. Two issues:

1. Is there a more natural way of asking "How much money would the average player win?" which clearly indicates we are

[2018-06-11 14:01] jackblun commented on #2
Latest version just updated [here](https://docs.google.com/document/d/1e6TP_h8LUR3v0fKnEx5g28WBgiZMWdLONl79NWVnVg0/edit#).

I've got the main text down to just over 6 pages, with a little more to add. A few general thoughts:
1) There seems to be a bit of inconsistency with the way we talk about biases. We emphasize that there could be multiple biases which matter, but then go into quite a lot of d

[2018-06-11 14:02] jackblun commented on #1
Update on IRB: I'm still waiting on Stanford to get back to me, will pester them if not by tomorrow.

[2018-06-17 11:05] jackblun opened #6 "Deploying Qualtrics survey via MTurk"
The goal of this issue is to deploy the pilot survey via Qualtrics / MTurk

[2018-06-17 11:14] jackblun commented on #6
@anjoung can you do a sense check of the survey [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit). The only thing that is yet to be finalized is the IRB statement at the top. I'm checking again with colleagues at Stanford what they usually do for pilots and should get responses today. A couple of things that would be great to get feedback on:
1) How long

[2018-06-18 15:32] jackblun commented on #6
@anjoung on the IRB, I've cleared up that so long as results aren't presented in outputs, its fine to run a limited pilot study. I've modified the survey accordingly. Let me know when you've done the above so we can get rolling with the survey!

[2018-06-18 16:38] anjoung commented on #6
@jackblun Just read through the survey! Should be super easy to put together. I responded to some of your comments, and was confused about one of the questions (made a comment).

For the section titled "Expected value treatments", I think that the language about average payment for players or splitting payments to each player might be a little confusing. The current text might make people think ab

[2018-06-18 20:50] anjoung commented on #6
@jackblun I'll get this up first thing tomorrow morning, but I did not get any info about the budget, payment, or number.

[2018-06-18 20:57] jackblun commented on #6
Ok I’ll follow up, thanks.

[2018-06-18 21:06] jackblun commented on #6
@anjoung in your experience, would $2.50 a survey cut it?

[2018-06-18 21:19] jackblun commented on #1
@anjoung could you post the Qualtrics survey in here when ready for @dtaubinsky @bblockwood @huntallcott to review?

Also any thoughts on number of participants and payment for participation welcome. I was thinking around 100 and $2.50 per participation should do it, but this is budget dependent. @huntallcott is working on that side.

[2018-06-18 21:38] bblockwood commented on #1
Great, thanks for your work on this, guys!

@anjoung, we can use my MTurk account and DARTS account. I think $1.50 would be plenty for a 10 minute task. And 100 seems a reasonable size to me -- it's extremely easy to re-run it if necessary.

[2018-06-19 13:40] dtaubinsky commented on #1
100 for an initial test case?

I think to really learn stuff we want at least 1000 from mturk, but it’s
helpful to run a small batch first to make sure respondents are
understanding questions etc.

On Mon, Jun 18, 2018 at 11:38 PM Benjamin Lockwood <notifications@github.com>
wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubins

[2018-06-19 19:30] jackblun commented on #1
This looks really fantastic - nice job! My only comment would be that perhaps via formatting it could be clearer that the hypothetical choices are to be considered row by row? Perhaps a bit more spacing, or some dividing lines. Other than that I’m happy for this to go out to the 100 people as specified.

[2018-06-19 20:35] huntallcott commented on #1
@jackblun @anjoung,
Thanks for doing this. I left some comments in the google doc. @jackblun , maybe you can take a look (perhaps after @bblockwood and/or @dtaubinsky add their comments) and then decide what to send to @anjoung to be redone in the Qualtrics survey.

[2018-06-19 20:39] huntallcott commented on #1
@dtaubinsky one thing: I suspect that the EV treatment will also reduce the amount of risk aversion, because people will be cued to think about maximizing expected value. I'm not sure if that means that risk aversion is a bias. But if we question that, does that weaken the argument that a treatment effect would be evidence that probability weighting is a bias?
Perhaps we can sleep on this.

[2018-06-21 09:05] jackblun commented on #1
@anjoung, the survey instrument doc has been updated and ready to be transferred to Qualtrics. There is a comment from Ben on information display in Qualtrics in there. We now have two different treatments, the 'expected value' treatment and the 'actual lottery expected value' treatment. Respondents should now then be split into four groups. I hope this is clear from the survey instrument layout -

[2018-06-21 11:35] huntallcott commented on #1
@jackblun, thanks for doing this. I made some edits in the doc.
One thing is that I changed my mind on the order of the treatments relative to what we discussed on the phone. Let's do just treatment and control, where Treatment receives all of 3a and all of 3b in the order on the doc, and Control receives both expected value treatments after both MPLs. I changed the text to reflect that.
This will

[2018-06-21 14:54] bblockwood commented on #1
Thanks guys. I don't think we need to pay more for the purposes of getting ought respondents, but I'm fine with paying 2.00 so we're still around minimum wage. Should we also all about household income bucket, to explore regressivity?

@anjoung is occupied for (at least part of) today, but can we plan on implementing these changes in Qualtrics tomorrow and fielding the pilot over the weekend?

[2018-06-21 15:00] huntallcott commented on #1
shoot I totally forgot about demographics. Yes, please ask the standard Census income and education questions. (I'd like to look at education also.) Lots of other demographics we could ask, but I'd stick with those two for now.

[2018-06-21 21:01] jackblun commented on #1
Edits made - I've put "$50,000 and above" as the top category for annual income on the assumption that MTurk participants are not likely to be from the upper tail of the income distribution.

[2018-06-21 21:16] anjoung commented on #1
Just drafted the survey on Qualtrics and will need some time tomorrow to check to make sure the new components are free of errors, but I just want to check about the new structure. Is the following order correct?

**Control**
1. Simplified Lottery Choices
2. Actual Lottery Choices/Actual Lottery Ticket MPL
3. Expected Value Treatments (Hypothetical)
4. Actual Lottery EV Treatment

**Treatment**
1.

[2018-06-22 00:21] huntallcott commented on #1
2 comes before 1 in the treatment description.
Otherwise good, thanks!
On Thu, Jun 21, 2018 at 3:16 PM anjoung <notifications@github.com> wrote:

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-06-22 14:59] anjoung commented on #6
@jackblun In the future, when reviewing the edits the Google Doc, could you reject all edits you don't want and then message on the GitHub that you are done reviewing and all the current edits should be accepted? In other words, just leave behind the track changes of things you want changed so I have a record of what needs to be changed.

It makes it a lot easier and faster for me when I am implem

[2018-06-22 15:49] anjoung commented on #1
Hi everyone! The survey has been proofread and did a few preview runs. It should be ready for launch! I am planning to launch this today in the afternoon (early evening at the latest), so please let me know if you notice anything that you'd like changed. I should've shared the survey with all of you.

Here's the preview link: https://wharton.ca1.qualtrics.com/jfe/preview/SV_b73QKdZtktfYs5v?Q_Surve

[2018-06-22 19:02] jackblun commented on #6
Sure, that sounds good - thanks for letting me know!

On Fri, 22 Jun 2018, 15:59 anjoung, <notifications@github.com> wrote:

[2018-06-24 19:20] jackblun commented on #6
Hey @anjoung, any word on the survey results?

[2018-06-25 13:39] bblockwood opened #7 "Clean and analyze MTurk pilot survey data"
The deliverable for this issue is a cleaned (Stata) data set of the MTurk pilot data, with preliminary analysis.

[2018-06-25 13:41] bblockwood commented on #7
@anjoung: please begin by adding code to *github/Code/Build/DataPrep.do* to import and format the .tsv raw data, following the protocols we used for the soda tax survey. (E.g., Stata sets the userpath based on who is running the code.)

As a first step in analysis, could you regress and plot lottery and scratch ticket spending against household income?

Thanks!

[2018-06-25 13:42] bblockwood commented on #6
The pilot ran successfully over the weekend. I have just placed the raw data (.tsv file) in *dropbox/Externals/Data/*.

I have created a new issue (#7) to track data cleaning and analysis requests.

[2018-06-25 13:42] #6 closed

[2018-06-25 14:01] anjoung commented on #7
@bblockwood Got it! Also, should I just compile a bunch of summary statistics in a Google Doc like normal or would you just like the regression and plot to start?

[2018-06-25 14:04] bblockwood commented on #7
@anjoung yes please create a google doc, and just make the regression and plot the highest-priority things to post there. Then it would be great if you explore other summary statistics there as well.

[2018-06-25 19:38] anjoung commented on #7
Created a Google Doc. It is currently very sparse, but I'll start filling it up as soon as all the data cleaned, organized, and analyzed.

https://docs.google.com/document/d/1wC3C66Aw1zSt0VUanZIpxZFM43Z4OEhl-hO-InT0TFI/edit?usp=sharing

[2018-06-26 17:08] anjoung commented on #7
@bblockwood Just updated the Google Doc. Let me know if anything is confusing or if I should give it another swing.

[2018-06-26 21:36] bblockwood commented on #7
Thanks @anjoung. Interesting we're getting positive point estimates of income on lottery expenditures.

@jackblun: this is now to the point where it might be helpful for you to chime in and work with @anjoung on calculating hypothetical demand treatment effects. Can you take the lead on that, and post any questions and updates here? (@anjoung can continue to paste results in the Google doc.)

Than

[2018-06-27 00:49] bblockwood commented on #4
@huntallcott I think there's a nice bridge between the logit demand estimation you've set up and a structural weighted expected utility function that we can use for theory. The piece I was most concerned about was the treatment of the utility gain as a function of the jackpot alone, rather than jackpot+wealth, but I think CARA utility (rather than CRRA) actually resolves this problem, and would th

[2018-06-27 08:28] jackblun commented on #7
@anjoung this is great, thanks. First thing, I can't find your code in the GitHub. Could you direct me to it?

I'm then happy to build on your code to do the following:
1) For some additional income regressions, pool the lowest two categories and drop the very top category. That way we will have four equal bins for income.
2) Scatter plot of indifference points in table 1 vs table 2
3) For the hyp

[2018-06-27 14:07] anjoung commented on #7
@jackblun Sorry! Just pushed everything. The two files you would be most interested in are:
1.  _LotteriesGithub_/Code/SetGlobals <-- Run this before everything
2.  _LotteriesGithub_/Code/Build/Data Prep <-- Run this to get cleaned data
3.  _LotteriesGithub_/Code/Analysis/InitialAnalysis Pilot_v1 <-- Preliminary analysis

Let me know if there's anything that I should do! Otherwise, I'll keep worki

[2018-06-27 15:53] jackblun commented on #7
@anjoung brilliant, I'll focus on the treatment effect side.

[2018-06-27 20:34] jackblun commented on #7
@anjoung @bblockwood I've done some initial simple treatment effect analysis and briefly written this up in the file [here](https://docs.google.com/document/d/1wC3C66Aw1zSt0VUanZIpxZFM43Z4OEhl-hO-InT0TFI/edit#).

@anjoung, I've left the summary statistics to you for now. A few you will want to include:
1) Distribution of hypothetical choice responses and changes in responses between the two
2) Rel

[2018-06-27 21:15] huntallcott commented on #5
Ben posted the below in #4:
@huntallcott I think there's a nice bridge between the logit demand estimation you've set up and a structural weighted expected utility function that we can use for theory. The piece I was most concerned about was the treatment of the utility gain as a function of the jackpot alone, rather than jackpot+wealth, but I think CARA utility (rather than CRRA) actually resolve

[2018-06-27 21:31] huntallcott commented on #1
Hi all-
I started a list of possible changes for a second MTurk round at the top of the google doc survey instrument [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit?usp=sharing). These are based on a conversation with Melissa Kearney yesterday, and others can be based on the initial pilot results as they are finalized today.

[2018-06-28 01:50] bblockwood opened #8 "Gather scratch-off data"
HA's edited version of the goal: The goal of this issue is to create a dataset of data on sales (per unit time that they have been available) and characteristics (i.e. the vector of payoffs and probabilities) for scratch-off tickets.
Ideally we could get sales for each scratch-off game by store (including zip code of the store) or by zip code, but this would just be icing on the cake.
We would lik

[2018-06-28 01:52] bblockwood commented on #8
@anjoung this is a new task related to the lottery project that we would love to have your help on. We can talk it over tomorrow at lunch! (cc @huntallcott @jackblun)

[2018-06-28 07:17] jackblun commented on #7
Hey @anjoung, could you adjust the income scaling to be consistent with the below quote from Clotfelter et al 1999?
"
We used numerical frequencies of 300 (6about every day5), 100 (61 to 3 times per week5), 18 (once or twice a month5), 8 (6a few days all year5), or 1 (6only one day in the past year5)
"
Could you also generate summary stats and regression results for **total** spending, the sum of

[2018-06-28 19:56] anjoung commented on #7
@jackblun I adjusted the income scaling from the quote and I also generated a standard summary stats table and regression table using the total spending measure you mentioned.

[2018-06-28 20:03] anjoung commented on #8
Exciting! I have zero experience web scrapping, and was wondering if there's anywhere that I should look to learn. Not sure what's the best approach here.

[2018-06-29 01:04] huntallcott commented on #8
@bblockwood @anjoung I edited this task slightly. See above. I would propose that @anjoung do the following things in this order:
1. Quickly create a dataset containing sales per unit time and characteristics including 50-100 scratch-off tickets. I suspect that this can be done manually in a couple of hours, so I'd shoot to do it tomorrow. This will allow some data for @jackblun and me to play wit

[2018-06-29 03:54] anjoung commented on #8
@huntallcott This makes sense! I'll tackle getting the scratch-off ticket data from North Carolina sorted.

[2018-06-29 11:04] bblockwood commented on #8
Thanks @huntallcott for the input, and @anjoung for being game. I'm on board!

[2018-06-29 12:11] jackblun commented on #8
@huntallcott  I'm on board with the shift to the scratch-off focus and the above plan. Happy to put together some models using the NC data in the near term and reconnect with Mr LeFleur.

@anjoung - let us know when there is some scratch off data ready for analysis!

[2018-06-29 14:28] anjoung commented on #7
@jackblun Just want to check-in about continuing to analyze the pilot data. I'm imagining that this is a lower priority than the analysis that Hunt outlined, but wondering if once I am done with that, if it is worth my time to continue digging into the pilot data, or if people are done looking at those results.

[2018-06-29 14:29] jackblun commented on #7
@anjoung I think you're right, prioritise the new stuff on the scratch-offs. If you could push your current stage of working on the MTurk pilot data I'll finish up the summary stats and analysis of that.

[2018-06-29 14:31] anjoung commented on #7
Just pushed it!

[2018-06-29 18:47] anjoung commented on #8
@huntallcott @jackblun I should definitely have the lottery ticket from NC website copied and pasted into an excel spreadsheet for both of you to use. However, I am not sure how to figure out the number of sales.

The NC data only tells you (a) the odds of winning a prize (of any size) when the ticket is first launched, (b) the total number of prizes currently available, and (c) the total number o

[2018-06-29 19:40] huntallcott commented on #8
Andrew, thanks.
For each nc game, please gather:
Start date
Number of prizes initially available
Number of prizes currently available
The vector of prize amounts and probabilities

We use the first three to approximate sales per month. This is just an
approximation.
The fourth is our vector of characteristics.
So I think I’m saying to gather all of a-c in your post.
I understand that this is only

[2018-06-29 21:33] anjoung commented on #8
Finished collecting the data.

I have it in the [Dropbox](https://github.com/huntallcott/Lotteries/files/2150994/NC.Lottery.Data_RAW.xlsx): "~\Lotteries\Externals\Data\NC Lottery Data_RAW.xlsx"

Here's a quick run-down of the variables:

- **Name**: Name of the lottery ticket
- **Ticket Price**: Price of ticket
- **Top Prize**: The biggest prize someone can win
- **Overall Odds**:  Approximate ove

[2018-06-29 21:52] huntallcott commented on #8
@anjoung, this looks great!
@jackblun, want to take a look into using this for estimation? Happy to talk sooner rather than later in case there is any doubt about whether we are on the same page. Call or email if you want.

[2018-06-29 21:55] bblockwood commented on #8
Awesome, thanks for your quick work on this Andrew. (You deserve a Junior Big Ol Bucks ticket!)

[2018-07-01 15:39] jackblun commented on #7
@dtaubinsky  @bblockwood  @huntallcott  @anjoung I've tidied up the code and pushed here. I also redid all the analysis and have written up results [here](https://docs.google.com/document/d/1wC3C66Aw1zSt0VUanZIpxZFM43Z4OEhl-hO-InT0TFI/edit#).
The code should all be clear should you want to play around with the data yourself.

We are seeing a lot more from this than at first glance. In particular,

[2018-07-01 15:44] jackblun commented on #8
@huntallcott sorry I haven't got to this yet, I've been going through the pilot code/data as I felt there was a lot more to do there (see my other post).

I'll get on to @anjoung's NC scratch-off data tomorrow ahead of the meeting on Tuesday.

[2018-07-01 17:13] huntallcott opened #9 "Preliminary demand estimates with NC scratch-off data"
@jackblun writes:
Hi Hunt,

Just to check we are on the same page - the basic idea with the scratch-off data is as follows?
1) Approximate monthly demand by looking at number of sales to date
2) Relate demand to characteristics of scratch-offs

If so, I can start on the code to do this and we can discuss on Tuesday.

**
HA responds:
Let me clarify a bit on your 1 and 2 above:
1) Approximate monthl

[2018-07-01 18:09] huntallcott commented on #7
@jackblun and @anjoung , this is really exceptional. I just took a look and am excited to discuss on Tuesday.

[2018-07-02 01:20] bblockwood commented on #7
Yes thanks guys -- these results are really informative and very helpfully presented. The across-income spending profile in particular is  interesting. Looking forward to talking!

[2018-07-02 09:07] jackblun commented on #8
@huntallcott I've done some cleaning and initial analysis (not full demand estimation yet) on the NC scratch-off data. Link to summary so far [here](https://docs.google.com/document/d/1Iw7GFYAGwhqU-RN7F-kFpHuS1i1McYLFwsT8bMO2Qbo/edit#) and code just pushed. The data look sensible - thanks @anjoung !

[2018-07-02 12:08] huntallcott commented on #8
@jackblun thanks, looks very reasonable. Excited to see if it's possible to estimate probability weighting and curvature with these data.

[2018-07-02 17:51] anjoung commented on #8
@huntallcott I'm currently compiling contact information for the states with state-wide lotteries. Just wondering if it is worth going down the Freedom of Information Act route. A few lotteries have specific contact information to request public records through an FOIA but I'm not sure how long these typically take.

[2018-07-02 22:19] huntallcott commented on #8
@anjoung thanks.
I suggest you start with the largest states and actually go ahead and contact them now. Or maybe practice with a few small states for a week and then try the big ones. We just need a few states, so I don't think we need contact info for all 50.
I would make sure to try soon with Texas and Connecticut, as they have shared lottery data with researchers in the past.
I would start by

[2018-07-03 11:06] jackblun commented on #9
@huntallcott @bblockwood @dtaubinsky  I've done some estimation, pushed the code and written up thoughts [here](https://docs.google.com/document/d/1Iw7GFYAGwhqU-RN7F-kFpHuS1i1McYLFwsT8bMO2Qbo/edit#).

As you'll see, the data is reasonable and the results are very unstable - I'm thinking there is an issue with identification, conditional on my non linear least squares code being correct. I should c

[2018-07-03 12:49] huntallcott commented on #9
@jackblun thanks for doing this.
Seems like there are three possibilities:
1. alpha and rho are not identified
2. alpha and rho are identified but we don't have great variation in the data
3. there's something wrong with the code

### One preliminary comment
You do need an alternative-specific constant \xi_g in the V_{ig} equation. I added a quick comment in the google doc to that effect. Then sin

[2018-07-03 12:52] huntallcott commented on #9
@jackblun, upon reflection, I would do the "simulated sales data" thing above before the "diagnosing code errors."
On that, I'm also curious what the simulated data look like and if they have some different variation than the actual sales data.
Or it could be that we need the game characteristics to have more variation, e.g. you have shown that the tickets all have similar expected value condition

[2018-07-03 15:34] anjoung commented on #8
What is the timeframe that we want? I reached out to all 50 states (before I saw your response @huntallcott) and basically everybody that did respond opted to treat our request as a FOIA request and wants to know how far back we want to go.

[2018-07-03 16:14] bblockwood commented on #8
Others can weigh in, but I’d propose the last 20 years as a starting point. That goes back to the 1998 NORC survey, and the period also spans a wide range of income movement and economic conditions, and is long enough that we should be able to discern secular trends as well.

[2018-07-03 16:40] huntallcott commented on #8
Thanks @anjoung , I did not know you could reach out to all 50 states so quickly. If you have to prioritize, I'd still prioritize the big ones, but if you can do all 50 then that makes things comprehensive.
Last 20 years is great if possible.

[2018-07-03 16:40] jackblun commented on #9
Thanks for all this. Agreed that lack of identification is only one of three potential explanations - apologies I couldn't dive in further today. A couple of responses:
1) Re the constant, noted. I tried models with and without and got broadly similar results.
2) In expected value terms, you're right that there is not much variation in the data. However there is a huge amount of variation in odds

[2018-07-03 16:44] jackblun commented on #8
I heard back from LaFleurs. They do have scratch-off annual sales divided by price point for each state, but this isn't particularly useful for us without any other features of the game. He didn't know of any way of getting better disaggregated data.

[2018-07-03 20:53] huntallcott opened #10 "Investigate other nationally representative samples for expenditure measurement"
The goal of this issue is to understand whether we want to use some other high-quality nationally representative sample survey to measure expenditures.
* UAS: https://uasdata.usc.edu/index.php. @dtaubinsky will contact.
* ALP: https://alpdata.rand.org. @jackblun  will contact.

[2018-07-04 01:38] dtaubinsky commented on #1
Hi all,

Here's an alternative to pilot on MTurk as per our convo earlier today. This will consist of four tables, but note that for TESS purposes we could do just the first two, and use the other two only for a large MTurk sample to validate our design. I'll summarize the table first and then explain what they accomplish.

Table 1.
(.0004, 10mil) vs. (.1, 20k)
(.0004, 10mil) vs (.2, 20k)
.. so fo

[2018-07-04 01:55] dtaubinsky commented on #10
I sent Anya an email asking about UAS.

One further thought: The nice thing about UAS is that it has a bunch of cognitive ability and financial literacy measures, and probably already has some risk aversion measures as well. These all come for free. I don't think TESS has these.

However, UAS is more expensive: https://uasdata.usc.edu/index.php

However, running just 3 questions (which are conside

[2018-07-04 08:40] jackblun commented on #7
@dtaubinsky @bblockwood @huntallcott  I've done some tests of the relationship between expected value calculation performance and choices. Written up towards the end of the doc [here](https://docs.google.com/document/d/1wC3C66Aw1zSt0VUanZIpxZFM43Z4OEhl-hO-InT0TFI/edit#)

In a nutshell, we see some evidence that those better at calculating expected values are more likely to be expected value maximi

[2018-07-04 17:35] dtaubinsky commented on #7
@jackblun, excellent work! I wouldn't read into the treated group results too much, since those are hard to interpret. What we would want to report for the actual paper is just the correlations coming from the control group, which I find **extremely** encouraging. If these hold up in a larger sample, they will significantly add to the credibility of our interpretation of the EV treatment.

[2018-07-05 14:58] jackblun commented on #1
@dtaubinsky I like this idea. It seems natural to have the extra tables to test whether the treatment is operating on risk aversion. Happy to implement changes to the survey if others agree.

[2018-07-05 18:03] anjoung commented on #8
Been communicating with some state lottery commissions and, first, it looks like getting 20 years of data would take them months and months. I got a call from Arizona and they said almost a year. I was just wondering how quickly do we want the data? Additionally, all the commissions are trying to figure out if this data collection requires some billing. Do we want to avoid paying for data entirely

[2018-07-05 18:15] bblockwood commented on #8
Thanks for looking into this, @anjoung. I can't say I'm all that surprised that they view 20 years of data as a cumbersome ask.

Since we're most interested in getting *some* data to work with relatively quickly, in my view the key question is whether any states have easily accessible data that they could shoot over to us quickly and at low (preferably zero) cost—even if it's much less than 20 yea

[2018-07-05 18:35] jackblun commented on #8
@anjoung yes do pass things on to me. I'm at a summer school in Bonn from Monday for a week and then on holiday myself for a week after that but will be on email.

[2018-07-05 18:37] jackblun commented on #9
@huntallcott I've just spent the day on this. I found one coding error in the way I defined the outcome variable, but it doesn't help things massively.

I've set up a lot of simulations (see the code if interested) and am getting similar problems in the simulated data.

Do you know of any alternative method in stata rather than the nl package for this kind of thing?

[2018-07-05 18:44] bblockwood commented on #1
Thanks @dtaubinsky, I like this revision, and I think we could do a lot with it.

I do share Hunt's concern that the treatment might just push people toward EV, even if that’s not their normative preference. This may be the same point as Hunt's number (3), but suppose we instead treated with a task to compute CRRA expected utility with, say, rho=4 — then one might conjecture that the treatment eff

[2018-07-05 18:55] huntallcott commented on #9
@jackblun thanks for working on this.
Two thoughts:
1. Stata should be OK on small optimization problems. I wonder if we just don't have the right variation in characteristics of the tickets. When you did the simulations, did you simulate just the market shares, or did you also simulate different scratch-off tickets with different characteristics? What if you, e.g., simulate other scratch-offs wit

[2018-07-05 18:59] dtaubinsky commented on #1
Guys, response to your comments (Hunt "H", Ben "B"):

H1: agreed. For which table do you want the switching closer to the middle though?

H2: Not really, because the deviation from EU is systematic here. what we're looking at in Tabs 1 and 2 is that p2/p1 should be significantly less than 1. That's the analogue of the bouncing around errors in tabs 3 and 4.

H3, B3: I think what will help us a lot

[2018-07-05 19:42] anjoung commented on #8
I have created a [Google Doc](https://docs.google.com/document/d/1eD4MmVZGdMFlR4H8PPqkoZdv6RfuC1qFmPixUkH6kFs/edit?usp=sharing) that tracks the most recent email that I received and the general status of my email correspondences. I have emailed all 50 lottery commissions and called the largest ones if they did not respond yet. Currently, I am in the "waiting for a response" stage. Any state with t

[2018-07-05 20:59] huntallcott commented on #8
@anjoung thanks so much, this is great.
Super-minor organizational point: can you put raw data from states in the (newly created) DataStorageCodebooks dropbox folder? The Externals folder is just for stuff that is actively being used in analysis. If we actually use the files you get as part of an analysis, then they also get copied to the Externals/Data folder. See [here](https://github.com/huntal

[2018-07-06 00:10] jackblun commented on #1
In light of this great discussion, I've implemented changes to the survey instrument [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit#).

The most notable points:
1) I've adopted the four tables proposed by @dtaubinsky. On @huntallcott's comment about the switching likely being close to the start of the table, I've left things as originally proposed for n

[2018-07-06 00:50] bblockwood commented on #1
Thanks! @anjoung: can you implement this on Qualtrics tomorrow (even before hearing from everyone)? Then we'll be well placed to deploy.

@huntallcott, @jackblun, @dtaubinsky: if you make any more edits from this point on, please track changes (make them as gdoc "suggestions") so that @anjoung can easily tell what additional edits should be carried over (accepting those suggestions as he goes).

T

[2018-07-06 01:40] huntallcott commented on #1
Thanks @jackblun , this is great.
I re-ordered the agree/disagree questions to put them after the expenditure questions, but other than that I have no objections and I think that this is fantastic!!!

[2018-07-06 01:49] dtaubinsky commented on #1
One other thing: Can we have the orders of Tables 1 and 2 be randomized in
the new design? That we we can get both between- and within-subject
estimates of p2/p1. I have a feeling they might differ.

On Thu, Jul 5, 2018 at 6:40 PM, Hunt Allcott <notifications@github.com>
wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.c

[2018-07-06 18:08] anjoung commented on #1
@jackblun I have made all the edits, but I had a few notes and comments. If you could look it over, I should be ready to set up the HIT so that whenever people are ready it can launch.

[2018-07-06 18:46] bblockwood commented on #1
Thanks @anjoung, and @jackblun in advance for your final comments.

Andrew writes to me (via email):

On those grounds I think we're fine offering only a $1 payment for this round. Additionally, if time allows @anjoung will add code to exclude people who have participated in the first pilot from eligibility for the second.

[2018-07-06 19:54] jackblun commented on #1
Thanks a lot @anjoung. I've responded to the comments and thanks for catching the mistakes - the survey doc looks good to go.

[2018-07-07 14:02] anjoung commented on #1
@bblockwood I have set up a HIT on your Requester account. All you have to do is click on the tab "Create" at the top of MTurk Requester UI, look for Project Name "Lotteries Pilot_v2", and click "Publish Batch."

This batch is set to collect 300 HITs at $1 each. I have also excluded anyone who was in the previous study.

I have shared the survey with everyone. Here's a preview link: https://wharto

[2018-07-07 14:09] anjoung commented on #8
@bblockwood The most readily available data are active games. This would only be a year (at most) of data. Is this an okay starting point, or is it worth spending an extra couple weeks (or maybe even a month or two) waiting for people to collect additional years?

[2018-07-07 14:12] bblockwood commented on #8
I think sooner is better than complete at this point -- so if it's feasible to quickly get data on game features, prices, and number of tickets sold for active games, let's go for it!

[2018-07-07 17:36] huntallcott commented on #1
@anjoung @jackblun thanks for putting this together. I just took the survey. Some comments:
1. Can you use coarser income categories?
2. On education: what do I put if I have a GED? I would say something like "high school diploma or GED"
3. I put that I spend $333338383 in a typical month and I was not rejected. Have some guardrails here?
4. I put $11 and I was rejected. You might clarify that the

[2018-07-07 17:53] jackblun commented on #1
@anjoung, in light of the above comments from Hunt I've made some comments on the survey instrument google doc.

[2018-07-07 19:55] huntallcott commented on #1
@bblockwood @anjoung @jackblun sorry I meant *finer* income categories.

[2018-07-07 19:55] jackblun commented on #1
I thought that would be the case. Sorry for confusion!

On Sat, 7 Jul 2018, 20:55 Hunt Allcott, <notifications@github.com> wrote:

[2018-07-07 19:56] bblockwood commented on #1
Great, makes more sense. Thanks. (Andrew already changed to $10k increments, so let’s leave as-is.)

[2018-07-07 20:01] anjoung commented on #1
Made the adjustments. Just in case there are any future issues with formatting of the headers while I am away, they have to be adjusted in the "Rich Content Editor" and you have to visually inspect adjustments in the preview mode. Also, just to clarify, when you say "rejected", do you mean that the survey refused to let you proceed?

Will be around today, so I can get any other edits done. Otherwi

[2018-07-07 20:19] huntallcott commented on #1
@anjoung When I put $11, I was told that this is not a valid answer. (Because of the dollar sign.) I'm not sure if this confuses people but it might be worth clarifying that they should leave off the dollar sign.

[2018-07-07 21:19] anjoung commented on #1
@bblockwood I don't think that there is any workaround that will be suitable for both computers and mobile. I could set-up the survey to screen-out mobile users and include text in the survey that mobile users should not take the survey. This should not affect (at least by much) the amount of time it takes to collect all 300 HITs.

[2018-07-08 16:34] anjoung commented on #1
Done! The survey should be set-up barring any new revisions.

[2018-07-09 00:04] huntallcott opened #11 "Debate time consistency / temptation good experiment"
@bblockwood @jackblun ,
@dtaubinsky and I just had the following email discussion. TLDR is that the below is a thoughtful case for why to keep focusing on probability weighting/debiasing instead of measuring time inconsistency. So I am opening and also closing this issue, and we can re-open later if we want.

### Hunt question
Quick question regarding whether scratch-offs are a temptation good, I

[2018-07-09 00:04] #11 closed

[2018-07-09 02:15] dtaubinsky commented on #10
Here is the UAS response:

_Sorry for the delay! Hi Dmitry! We have a couple of options; if you are flexible about timing and not adverse to having your questions in an omnibus with other topics, the prices are as follows: https://uasdata.usc.edu/page/Omnibus+Pricing+Calculator

If you have a more complicated survey, then stand alone makes the most https://uasdata.usc.edu/page/Pricing+Calculator

[2018-07-09 10:16] bblockwood commented on #10
Thanks! Omnibus sounds like it would work for us, though it's still not that cheap. The cost of 8 simple questions is $8333.

[2018-07-09 16:36] jackblun commented on #9
@huntallcott I've got the simulations working. The problem was partly with stata's nlls command being vulnerable to finding local optima. By experimenting with starting values for the optimization, I think I got to the bottom of it.

In a nutshell:
1) We can identify rho and alpha from market shares
2) The NC data we have leads to a very imprecise estimate of alpha -> more data should help

I wrot

[2018-07-09 18:11] bblockwood commented on #5
@dtaubinsky, @jackblun:

I've been thinking about the normative role of probability weighting, and had the email exchange below with @huntallcott—interested in your thoughts too.

### Ben question:
I’ve been thinking about lottery theory this morning, and I just wrote the following paragraph in my brainstorming notes.

Any thoughts? It’s not exactly a straightforward experiment to implement(!), bu

[2018-07-10 00:12] dtaubinsky commented on #5
@bblockwood: brilliant!! I agree that our EV treatment should only operate on choices in scenario (a).

@bblockwood, do you have thoughts on a variation of this that could be implemented?

Here's my implementation idea:  A relatively faithful version of the thought experiment is to have participants make gifts to other participants. This would have two stages:

1) Isolate the participants who are

[2018-07-10 00:17] dtaubinsky commented on #5
Sorry, two more notes on that:

1. In the (a) version, it is important that the decider never learns the outcome in both the positive and negative case. This is to prevent the decider from getting anticipatory utility from having the outcome of someone else revealed.

2. It'll be useful to elicit a certainty equivalent for just a standard lottery ticket as well.

[2018-07-10 00:36] dtaubinsky commented on #5
Woops, didn't carefully read through 2iii, so yes, we're on the same page (sorry didn't mean to take credit for that).

I think that (a) and standard lottery ticket is actually better because (b) might generate a demand effect by virtue of being weird, as you pointed out.

I doubt that showing the EV treatment operates equally on the conventional and the (a) version would help the case that much.

[2018-07-10 00:54] bblockwood commented on #5
Not at all! Glad we're on the same page. I agree with you on all counts.

There's also the question of levels and changes. I do think it would provide some support for this model if people exhibit a lower *level* of certainty equivalent for (a) than for conventional (since that supports the existence of anticipatory utility) yet a similar treatment effect for each (since that supports the effect o

[2018-07-10 00:58] dtaubinsky commented on #5
For a direct test of anticipatory utility, what about just eliciting WTP to turn (a) into a standard lottery ticket? That still generates a demand effect, but it's as direct as possible. My fear is that the WTP for turning (a) into a standard ticket may bend up being larger than the difference in WTP for the standard ticket versus (a).

[2018-07-10 01:06] bblockwood commented on #5
Yep, I like this idea. Perhaps there's a way to do this elicitation interface that enforces consistency, e.g., same screen, elicit certainty equivalent for (a) and additional amount for converting to standard ticket, with total CE for standard ticket displayed alongside.

[2018-07-10 01:07] dtaubinsky commented on #5
Yes, but that we'd still probably sleep easier if that kind of consistency requirement didn't change how much individuals value the standard ticket....

[2018-07-10 01:09] bblockwood commented on #5
Agreed. We could have a treatment in which they first answer the standard ticket, then reveals a follow up which asks for how much of that total they’d be willing to pay if the recipient weren’t going to be informed about the ticket.

[2018-07-10 01:11] dtaubinsky commented on #5
That's good. Though we'd still want to make sure that this doesn't affect how people value (a) without the preceeding valuation.

[2018-07-10 01:12] dtaubinsky commented on #5
Sorry, that was unclear. I'm saying that how much people would value (a) if that was the first valuation they did might be different than the WTP elicited in this sequential set-up.

[2018-07-10 02:47] huntallcott commented on #9
@jackblun you are a rock star, great for making this work.
@anjoung we are relying on you to fulfill Jack's request for more data! Hope you are having a good vacation and excited to see what you can come up with when you get back.

[2018-07-12 16:21] anjoung commented on #8
Greetings from the saddest city in the world (_Google "England vs Croatia_)!

I've read through the emails that I've received. Here are some things that I need clarity on:
1. How important is it to have daily data? NY returned an email suggesting that they should be able to give us the data we are requesting. However, they noted that daily data over the last few years that also breaks down by reta

[2018-07-12 21:29] huntallcott commented on #8
@anjoung this is stunning, just stunning, that we can get all these data. Some comments:
1. I don't think we'll need daily data. If that ends up being too hard, I'd be happy with weekly.
2. Vermont data:
* why negative sales in some weeks?
* Can we get previous years’ data? One year is OK but additional historical data are very helpful.
* VERMONT LOTTERY GAMES.xlsx is incomplete – we must have the

[2018-07-13 14:13] jackblun commented on #5
I very much like the decomposition of the ticket utility into an anticipatory element and a probability weighting element and the follow-up discussion above.

I'm just wondering how confident we would be that the method proposed for eliciting (a) would truly eliminate anticipatory utility on the part of the decider? If we think that the anticipatory utility is partly 'daydreaming' about possible s

[2018-07-13 14:52] jackblun commented on #8
@anjoung this is looking great and thanks for keeping me in the email loop.
1) I agree with @huntallcott that weekly data should be fine.
2) On the negative sales @huntallcott, Louisiana's emails state 'A negative amount in the sales field indicates a return of tickets from a previous sale'
3) Related to the above, the data for Louisiana takes a little thought. We see here in the 'sales' excel fil

[2018-07-13 15:57] huntallcott commented on #8
@jackblun , many thanks for pointing out your (3) above.
@anjoung a necessary thing in the data is indeed to understand who is selling to whom in the sales data, so please do make sure you ask this of all states.

[2018-07-14 03:57] dtaubinsky commented on #5
@jackblun That's an excellent point. My view is that no approach by itself is convincing, but that together the three will be convincing. One other thing to consider is that we can should compare estimates of probability weighting for self versus others. To the extent that we expect day-dream utility to have a more powerful impact on own probability weights than others, showing that the difference

[2018-07-14 08:09] jackblun commented on #10
Response from ALP:
"
Apologies for the delayed reply and thank you for your interest in the ALP.    You can certainly field a survey questionnaire to our ALP.  A summary of the steps and standard ALP pricing is here: https://www.rand.org/labor/alp/run-survey/ten-steps.html   Once we have information about your sample, desired number of completions and the length of your survey we can quickly get y

[2018-07-14 08:13] jackblun commented on #5
@dtaubinsky I see - yes that sounds like a good plan.

[2018-07-20 20:09] anjoung commented on #8
Back from vacation and trying to get on top of my emails. One question. Some state lotteries only record their bundled sales to retailers. Is this data worth pursuing?

[2018-07-20 20:22] huntallcott commented on #8
@anjoung welcome back!!!
what do you mean "bundled sales," please clarify.

[2018-07-20 21:09] anjoung commented on #8
If I am the Iowa state lottery commission, I don't sell to the retailer ticket-by-ticket as the retailer sells each ticket to a consumer. Instead I sell them in bulk to the retailer, with the retailer returning unsold tickets at some point in time. Thus, Iowa can tell me how many tickets they sold to retailers in any given week, but this is not representative of how many tickets actually bought by

[2018-07-20 21:14] huntallcott commented on #8
@anjoung this is fine, especially since we will likely aggregate across weeks and may just analyze a cross-section of scratch-offs in terms of sales/week available instead of as a panel. But:
1. We need to keep track of whether the sales data are actual sales to consumers or instead are sales to retailers.
2. Ideally we would know the number of unsold tickets that come back from the retailer. Plea

[2018-07-24 15:04] jackblun opened #12 "Clean and analyze second MTurk pilot survey data"
The deliverable for this issue is a cleaned data set of the second MTurk pilot data, with preliminary analysis. @anjoung will clean over the week then I will do the analysis.

[2018-07-24 19:37] anjoung commented on #8
I took a swing at trying to condense my email correspondences into something more legible. Here are the two main documents:

- a [document](https://docs.google.com/document/d/1eD4MmVZGdMFlR4H8PPqkoZdv6RfuC1qFmPixUkH6kFs/edit?usp=sharing) of my most recent and relevant email correspondence, and
- a [spreadsheet](https://docs.google.com/spreadsheets/d/1FjU8eZtokaGV3GlqTDouDnUOY_iSClACV8jkxSs-xKo/edi

[2018-07-24 22:16] bblockwood commented on #8
So if I understand, TX is requesting $300 for their data? That's will with it if it's everything we want from such a big state.

[2018-07-24 22:39] dtaubinsky commented on #8
I agree

On Tue, Jul 24, 2018 at 6:16 PM Benjamin Lockwood <notifications@github.com>
wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.com/

[2018-07-24 22:40] bblockwood commented on #8
Sorry, *well *worth it, autocorrect...

[2018-07-25 02:30] huntallcott commented on #8
Sounds good to me as well. @anjoung:
1. thanks for doing all this.
2. can you ask what other data Texas might have, e.g. any of the "good to have" stuff such as non-prize characteristics of the cards, etc. There might be something useful that we've forgotten to ask for so far.

[2018-07-25 17:40] anjoung commented on #12
@jackblun A couple quick questions about cleaning.

First, in the previous pilot, we set as missing self-reported spending amounts that seemed unrealistic. Previously, that meant that if someone reported spending $500 or more the last time they bought lottery tickets, we dropped them. For the new question regarding how much they spent in a typical month, where should I set the ceiling? I honestly

[2018-07-25 18:01] anjoung commented on #12
Also, as a point of reference, we previously stated that annual spending on a given game greater than or equal to $10,000 is unrealistic, and we code such values as missing.

[2018-07-25 18:44] anjoung commented on #12
Disregard the second point! I don't know know why I thought I could just make two versions of the same variable, one using daily data and the other monthly. Once I know the ceiling that I should impose, I can send over the data ASAP.

[2018-07-25 20:00] jackblun commented on #12
If the highest is 1,000 a month, perhaps we don't need to censor at all.
Leave it in and we can see how sensitive things are afterwards. Thanks!

On Wed, 25 Jul 2018, 19:44 anjoung, <notifications@github.com> wrote:

[2018-07-26 17:32] anjoung commented on #12
@jackblun I cleaned the data! Pushed the changes. The do-file is called "dataprep_pilot_v2"

[2018-07-26 18:09] jackblun commented on #12
Brilliant, thanks - will get onto the analysis when I get a minute

[2018-07-27 22:20] huntallcott commented on #7
closing this issue as I think it's done.

[2018-07-27 22:21] huntallcott commented on #2
closing this as I think we've pushed off the TESS application.
This issue was, however, very useful in getting our thinking going and getting us some good introductory text for future use!

[2018-07-27 22:22] huntallcott commented on #1
closing this now. let's open a separate issue to revise the survey instrument in light of whatever we learn in #12 and the discussions above here.

[2018-07-27 22:22] #1 closed

[2018-07-27 22:23] huntallcott commented on #3
Closing this as well, as I think we've decided to focus on the type of probability weighting/debiasing stuff we're piloting on MTurk.

[2018-07-30 15:34] jackblun commented on #12
@huntallcott @bblockwood @dtaubinsky I've got some analysis done of the second survey ahead of the call today. Link to quick write up [here](https://docs.google.com/document/d/1qbRpgmWZDmsFqSXlT6ZIKslTYVm7moZMInHGLygmZHI/edit?usp=sharing)

[2018-07-30 15:57] dtaubinsky commented on #12
Did we agree on a time today? Either works for me.

On Mon, Jul 30, 2018 at 8:34 AM jackblun <notifications@github.com> wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.com/

[2018-07-30 15:59] jackblun commented on #12
I think the plan is to do the earlier time (1pm est), unless we hear otherwise in the next hour.

[2018-07-30 17:58] #7 closed

[2018-07-30 19:36] anjoung commented on #8
Following up based on the conversation we just had. Oregon and Louisiana have sent us data that I think should be comprehensive. Additionally, Nebraska sent us weekly ticket sales data from 2010 to 2018, broken down by individual ticket. However, Nebraska has NO location specific data (absolutely nothing on record). Additionally, the prize structure data is stored in a TON of PDFs (i.e., I'll have

[2018-07-30 23:40] huntallcott commented on #8
i agree with @bblockwood. thanks.

[2018-07-31 08:07] jackblun opened #13 "Develop survey instrument v3"
I've modified the survey instrument [here](https://docs.google.com/document/d/1osV6GXo3TQtE0cNaO3DSM4miIjOHQ3MOsnRV4lJg9fA/edit#) to reflect the changes discussed.

@bblockwood, could you check that the wording for tables at the end was what you had in mind? Right now I have kept the full set of expected value treatments, both those for less-lottery-like calculations and those for megamillions odd

[2018-07-31 18:50] bblockwood commented on #13
Thanks! I've edited the language a bit to reflect the three different framings I had in mind. I'm doing it from my phone in an airport, so please take a look and make any edits for clarity if I messed anything up.

@anjoung, I added additional funds to my MTurk account, so when this is finalized and carried over to Qualtrics, it should be good to launch.

Thanks guys!

[2018-07-31 21:32] jackblun commented on #13
@bblockwood, I just had a look through the edits and they look good to me. I see you've dropped the 'close friend or family member' in favour of 'some other person'. I can see the arguments for both, and perhaps we could pilot the alternative too depending on how this one works out.

@anjoung I'm happy with the survey the way it is, but lets hold fire (say until tomorrow am) to see if @huntallcott

[2018-08-01 13:46] huntallcott commented on #13
looks good. the grammar police visited the google doc and changed a few "who" to "whom," but otherwise no major changes.

[2018-08-01 21:29] anjoung commented on #13
Updated the survey! Sharing it right now but preview link is below. Please give it a look over and let me know if anything looks off. I'm going to do one more round of checks and once people give me the thumbs up, I'll launch it.

https://wharton.ca1.qualtrics.com/jfe/preview/SV_3EgQy0l17Kp6AWV?Q_SurveyVersionID=current&Q_CHL=preview

[2018-08-01 22:36] dtaubinsky commented on #13
Can we boldface "other person"? It's easy to miss the distinction between
lotteries for other person rather than for oneself. Similarly, in the
condition in which the other person doesnt' learn about the ticket until
the end, we may want to boldface that fact.

On Wed, Aug 1, 2018 at 2:29 PM, anjoung <notifications@github.com> wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, Universit

[2018-08-02 17:55] dtaubinsky commented on #13
I would be in favor of this. Good idea.

On Thu, Aug 2, 2018 at 9:22 AM, anjoung <notifications@github.com> wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.com/

[2018-08-02 19:50] jackblun commented on #13
Nice catch Andrew. Perhaps bold face the first “you”, and add another you to make clear, so the text is "Consider a situation in which you are deciding between you receiving a fixed amount of money, or some money plus a Mega Millions ticket. For each row of the table below please pick which you would prefer, Option A or Option B."

It doesn’t read quite as nicely, but is a little clearer. Just ran

[2018-08-02 21:14] anjoung commented on #13
Just want to confirm before launching tomorrow. Do we want 300 HITs at $1 per HIT?

[2018-08-02 21:25] bblockwood commented on #13
Yep, and there should already be sufficient credit on my MTurk account to run that.

[2018-08-03 20:25] anjoung commented on #13
@jackblun Data has been collected! Is it okay if I have the data cleaning done by early next week?

[2018-08-04 11:31] jackblun commented on #13
@anjoung yep - I've still got to catch up on the analysis of the previous surveys.

[2018-08-04 18:14] bblockwood commented on #13
Thanks for working on this, guys!

I need to free@anjoung up to work primarily on another project this week -- @anjoung could you take an hour on Monday just to download the .tsv file for analysis and adapt your existing cleaning script, so that @jackblun will have a clean data set for analysis?

[2018-08-06 16:26] jackblun commented on #13
@anjoung  thanks - I'll get started on the analysis

[2018-08-07 11:50] jackblun commented on #12
@bblockwood @dtaubinsky @huntallcott I've got around to working on the second survey again, to see what was driving those strange results from last week. I've found something we should be concerned with. In the attached table 3, 49% of respondents choose Option A at some point past the 3rd row, which is clearly strictly dominated by option B. This is either indicative of an incorrect mapping from

[2018-08-07 11:59] jackblun commented on #12
also, @anjoung, just a couple of comments on the cleaning code from the v2 survey. The code overall is great, but a few simple things would be really helpful going forward.
1) At the end of the cleaning, could you tab the variables and check they make sense? I found a few typos (for example a string match for "$100,000 and more" that should have been "$100,000 or above which led to the omission of

[2018-08-07 17:06] bblockwood commented on #12
@jackblun thanks for looking into this. That does seem concerning. I need to let @anjoung focus on a project with his shared employer for awhile, so perhaps @anjoung can quickly respond on these questions and serve as a reference, and also share the Qualtrics survey itself with @jackblun.

For what its worth, I just logged into the Qualtrics online interface to see what the very raw data looks lik

[2018-08-07 17:24] jackblun commented on #12
I considered the possibility that this could be fatigue and annoyance about the pay, since it does seem like we are asking a lot for 1$ payment. However, giving dominated responses is unrelated to treatment, which kind of goes against this since the treatment group is far further into their survey by this point.

It would be very helpful for me to see the full data on Qualtrics to check the mappin

[2018-08-07 18:03] anjoung commented on #12
@jackblun Sorry for the confusing push notifications. Thought I had misspecified some tables, but drank some coffee and took a second look and realized that everything was fine. I double-checked and the variables are all pointing to the right tables. If you want to double-check yourself, the survey should be shared with you!

[2018-08-07 18:05] anjoung commented on #12
I'll address the other three points when I have made more substantial progress on Ben's grant proposal write-up! Thank you for finding those things and sorry that they even existed...

[2018-08-07 21:06] dtaubinsky commented on #12
What sample of MTurkers did we use? Were they just US-restricted ones? Or
were they the "expert" sample?

On Tue, Aug 7, 2018 at 11:05 AM, anjoung <notifications@github.com> wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.com/

[2018-08-07 21:17] anjoung commented on #12
We restricted to those with a HIT approval rating above 95% and who hadn't previously taken our survey. I did not restrict by geography and did not use any special qualifications.

[2018-08-08 16:25] jackblun opened #14 "Clean and analyze 3rd Mturk survey data"

[2018-08-08 16:29] jackblun commented on #14
@bblockwood @dtaubinsky @huntallcott some further evidence that something very strange is going on... Here is a regression of literacy (number of correct answers out of 3) on education in the most recent survey data:

<img width="623" alt="screen shot 2018-08-08 at 17 24 54" src="https://user-images.githubusercontent.com/13908154/43850594-49711db8-9b30-11e8-9350-51674b9e5f1d.png">

We have the sam

[2018-08-08 20:05] dtaubinsky commented on #14
Did we cut these by age yet? How many are just really smart college
students who havent graduated from college yet?

On Wed, Aug 8, 2018 at 11:22 AM Benjamin Lockwood <notifications@github.com>
wrote:

--
Dmitry Taubinsky
Assistant Professor of Economics, University of California at Berkeley
https://www.dmitrytaubinsky.com/

[2018-08-08 20:12] jackblun commented on #14
I just checked for the latest survey and only a handful (fewer than 10) report their occupation as ‘student’. I had a look and can’t see an age variable in there.

[2018-08-08 20:29] jackblun commented on #12
I've got into the qualtrics survey to double check the link from survey questions to downloaded data. It all seems correct. It is the case that around half of the respondents would rather a 40% chance of $10,000 than a 40% or above chance of $20,000.

I'll re-run all the analysis on the v2 survey eliminating these people ahead of the call on Friday.

[2018-08-09 15:06] jackblun commented on #12
@dtaubinsky @bblockwood @huntallcott I have redone all the analysis of the second survey [here](https://docs.google.com/document/d/1qbRpgmWZDmsFqSXlT6ZIKslTYVm7moZMInHGLygmZHI/edit#heading=h.cxi88nwixk6i). Apologies this has taken a long time. I wanted to make sure the data was all set up correctly so I could really understand what was going on.

This report should be much easier to read than the

[2018-08-09 19:06] dtaubinsky commented on #14
@jackblun thanks for the analysis? Can you put standard errors on the differences in switching points between the three conditions (self, other, other no info). You can do t-tests, rank-sum tests, and kolmogorov smirnov tests. (sorry if you already did that and I missed it)

Thanks!

[2018-08-09 19:07] dtaubinsky commented on #14
@jackblun , sorry, typo, should say "thanks for the analysis!!" (two exclamaation marks, not a question mark) (typing from conference)

[2018-08-09 20:38] jackblun commented on #14
Good suggestion - thats done and added to the doc [here](https://docs.google.com/document/d/1nIE-Htkv22Glxvb916qp3tJmjat3hreUYszVSkU5kBs/edit#)

[2018-08-10 14:57] jackblun commented on #14
I've just combined the data from the two most recent mturk surveys to boost sample size. They are actually very consistent with one another so the results from the pooled descriptives are identical to those from each survey.

Overall, it seems to me that we have a clear picture of patterns in the data we have around spending, education, literacy and income, but that we have cause to think that thi

[2018-08-10 18:24] #13 closed

[2018-08-10 18:53] #9 closed

[2018-08-10 23:01] huntallcott commented on #2
@jackblun @dtaubinsky @bblockwood  I took a look at the [TESS app](https://docs.google.com/document/d/1e6TP_h8LUR3v0fKnEx5g28WBgiZMWdLONl79NWVnVg0/edit?usp=sharing) and spent a bit of time cleaning it up and adding some text to reflect our latest thinking.
Can you take a look?
Then, perhaps @jackblun you can:
1. revisit the power calc
2. Put in the actual survey question text as an appendix.
3. Re

[2018-08-13 17:47] dtaubinsky commented on #12
All, and especially @anjoung : In the future, let's restrict to 99% approval rating. This blog post has been very helpful: http://turkrequesters.blogspot.com/2018/08/the-bot-problem-on-mturk.html?spref=tw

We might also consider adding some captchas

[2018-08-13 18:01] bblockwood commented on #12
Good find, thanks Dmitry.

[2018-08-14 02:58] #14 closed

[2018-08-14 03:07] huntallcott commented on #3
Re-opening this experimental design issue to debate the experimental design. Some prior discussion is in #5, the thread for the theory model.
1. Seems like the [JEBO ](https://econpapers.repec.org/article/eeejeborg/v_3a98_3ay_3a2014_3ai_3ac_3ap_3a29-40.htm) paper Alex sent has suggestive strategies for identifying anticipatory utility (preference for delay and preference for two tickets in separat

[2018-08-14 03:26] dtaubinsky commented on #3
@huntallcott: I think developing a cool EV teaching module is a great idea. I think it could greatly increase impact if it was a public good others wanted to use to answer a whole series of questions of the type "when we make people better at computing EV, what happens to weird lottery behavior X," where X can be stuff like narrow bracketing, risk-seeking in the loss domain, improper lottery compo

[2018-08-14 12:28] huntallcott commented on #3
One complication is that the ideal interventions for narrow bracketing, lottery compounding, etc., might be different than EV calcs.

But for our purposes I think finding a partner to develop it would be cool. I have no background in this, but if you google "develop online classes" you get some interesting results. @jackblun, note that we do have money for this as needed.

Incidentally, one proble

[2018-08-14 22:25] dtaubinsky commented on #3
@huntallcott Good point about the taxes. Should we have an info intervention that reminds people about the taxes as well? I suspect that is an important source of bias also.

@jackblun: Can you look into whether there is a good partner out there for developing this online tool?

[2018-08-14 23:45] bblockwood commented on #3
I love this idea, @huntallcott! Kahn Academy already has a tutorial on computing expected value [here](https://www.khanacademy.org/math/math2/math2-prob), which looks reasonably good. That might be an easy way to at least pilot test this idea.

@dtaubinsky, great point on an informational intervention about taxes. I share your hunch that people underattend to them. (And also that they may have poo

[2018-08-15 13:06] jackblun commented on #3
The Kahn academy tutorial looks like a great example. I particularly like the idea of using basketball free throws as a setting. It would be quite easy to combine this and some of the other online material out there into our own course at https://teachable.com/.

To expand on @huntallcott's point, the possible impact of an ev training intervention on non-linear probability weighting is clear to me

[2018-08-15 13:28] jackblun commented on #3
Related to what we've been doing in the mturk surveys, wouldn't another test of anticipatory utility be to get respondents to value the following bundles A and B. Firstly, choosing for themselves:

A) A 50% chance of a real lottery ticket and 50% chance of a 'fake' lottery ticket (which looks identical but has no chance of winning). The player will never know whether the lottery ticket received wa

[2018-08-15 13:47] jackblun commented on #12
Just re-opening this temporarily to add the following in relation to Dmitry's find on bots. I was wondering why in the 'any comments for us?' section, lots of respondents wrote 'VERY GOOD', or 'INTERESTING STUDY THANKYOU'. According to the article, this is indicative of a bot.

We have approximately 50 (out of 300) of these types of responses in the most recent mturk, so around 16% of the sample.

[2018-08-15 13:47] #12 closed

[2018-08-15 15:08] jackblun commented on #2
Hey @bblockwood @dtaubinsky, a few queries which would be helpful for finalizing the [TESS app](https://docs.google.com/document/d/1e6TP_h8LUR3v0fKnEx5g28WBgiZMWdLONl79NWVnVg0/edit).
1) Do we want to include all four hypothetical choice tables from mturk survey v2 [here](https://docs.google.com/document/d/1OmfSWIoZxSoeYIY-hoBJpO9W5XNRNmaD5q3y89fh6PE/edit#heading=h.cyh9bmmi10p9)? Hunt in one of his

[2018-08-15 15:47] anjoung commented on #8
@bblockwood I had a little free time to catch-up on some email correspondences and was wondering what the current status is on collecting this data? I received the following from FL:

The email was received on August 1st, so we have two weeks before the offer expires. I assume though that nothing would stop me (or someone else) from submitting an identical FOIA request if the present request expir

[2018-08-16 05:05] dtaubinsky commented on #2
Thanks for pushing forward on this.

1. Yes, I think all four

2. I think we want it if we use the "normative consumer benchmark." That is, we want to see how playing the lottery relates to financial literacy and numeracy, while controlling for preferenes.

3. The correlation between financial literacy and lottery demand seems robust. Can you remind us again if either of these are robust: (1) the

[2018-08-17 10:29] jackblun commented on #2
Thanks @dtaubinsky. On point 3 above, I've added some graphs to the TESS app pilot section illustrating what you suggest.

The main problem at the moment is number of items. We currently have 19, which gives a max sample size of 850. If we get that down to 18, we get 1000, to 17 and we get 1050, to 15 and we get 1150. We are sitting on the wrong side of a kink so should really get down to 18 at le

[2018-08-17 13:50] bblockwood commented on #3
@jackblun that article is amazing. And it's an interesting point that in reality there are tickets for sale which are guaranteed losers. I wonder if we could somehow use that. (E.g., how much does one's willingness to give a lotto ticket decrease the prizes are claimed by others?)

Interesting experiment idea. I think we will likely run into IRB/deception issues, though, if we try to hand out fake

[2018-08-17 13:52] bblockwood commented on #8
Thanks @anjoung. I agree with you that this does not sound like a tightly binding deadline, so I think we sit on this while we submit our TESS application and figure out which of these inexpensive FOIA states is the best value for the data we care about.

[2018-08-17 20:05] dtaubinsky commented on #2
For now let's drop one of the three EV treatment questions. Thanks for considering this so carefully

[2018-08-20 14:53] jackblun commented on #2
Hey @dtaubinsky @bblockwood, I've made some changes to the TESS doc. A few ongoing issues:
1. I had a think about exactly what we are hoping to get from the four hypothetical choice lists, and going over the link to non-expected-utility theory. I think I've boiled it down to something that makes sense but it would be great to see if you agree.
2. We still need to cut a little bit. Any suggestions

[2018-08-23 11:02] jackblun commented on #2
@dtaubinsky and @bblockwood , the TESS app has been finished, but before I submit could one of you take a look to check? There were quite a few tweaks required to meet the page limit, and theres one open question re a sentence which might break TESS's rules about author disclosure.

Thanks!

Link: https://docs.google.com/document/d/1e6TP_h8LUR3v0fKnEx5g28WBgiZMWdLONl79NWVnVg0/edit#heading=h.5eninx

[2018-08-23 12:27] bblockwood commented on #2
Thanks @jackblun! I'll take a look later this morning.

[2018-08-23 21:46] bblockwood commented on #2
@jackblun and @dtaubinsky, I reviewed the TESS app and made a number of modest edits, but overall it looks to me to be in good shape. Maybe @dtaubinsky take a quick skim to make sure you're on board, and we're good to go?

[2018-08-24 04:29] dtaubinsky commented on #2
@jackblun - looks great! Thanks for the fantastic work.

I just went through it. I made changes to the anticipatory utility paragraph, but otherwise everything looks good. @bblockwood  and @jackblun : can you take a look at that para and make sure you're okay with it?

[2018-08-24 11:42] jackblun commented on #2
Brilliant, thanks for the comments. I've incorporated the changes and will give a final check and submit later today.

[2018-08-25 13:36] #2 closed

[2018-08-25 19:55] huntallcott commented on #2
Hi guys,
Thanks so much for wrapping this up. @jackblun if you have not yet officially submitted, two minor things:
1. it's missing the ALT soda taxes citation.
2. I added a space where one was missing.
I think this is a really solid application!

[2018-08-27 13:51] huntallcott commented on #10
I'm closing this while we wait to hear from TESS. Presumably if we get TESS then we won't use these.

[2018-08-27 13:51] #10 closed

[2018-08-27 16:45] huntallcott commented on #3
@bblockwood @jackblun @dtaubinsky , picking up on this thread:
1. Here's a very clear (and almost entirely correct) article that does expected value calcs for a lotto game: [https://www.businessinsider.com/powerball-jackpot-700-million-expected-value-2017-8](https://www.businessinsider.com/powerball-jackpot-700-million-expected-value-2017-8)
2. I think that teachable.com is great but probably not

[2018-08-27 19:12] dtaubinsky commented on #3
@huntallcott I agree with this plan. Feel free to give me a call for a few min sometime this week.

[2018-08-28 14:33] jackblun commented on #3
Agreed with this. Thanks for sharing the expected value calucation article @huntallcott. I find it quite surprising that at some points, before taxes there actually is a positive expected value to playing the lottery!

Just to check I'm on the same page, the eventual idea would be to give this video training to TESS in place of the questions?

[2018-09-06 10:17] jackblun opened #15 "Discuss analysis of sales data"
I've been looking over the data we have available from Andrew's requests. I've made notes summarizing what they give us [here](https://docs.google.com/document/d/1Wy7SUd-Kix3gwFjrhH_8rsOGkCzFaR0pCGewhtYEM0k/edit#heading=h.i23qpcdct4ok) and identifying the states where the information is potentially useful.

Just to clarify what we want here, the goal of this section of analysis is to estimate:
1.

[2018-09-06 13:52] huntallcott commented on #15
@jackblun thanks for jumping back into this.
Yes, I agree with everything you wrote up to the last two paragraphs.
For (b), panel data on incomes, there are several sources. For county-by-year or even county-by-quarter data, there is the REIS or QCEW. We used the REIS in the soda tax paper; I think QCEW has quarterly data, although I don't think that quarterly provides much more useful income vari

[2018-09-06 14:15] jackblun commented on #15
@huntallcott thanks for all the above and for clarifying the plan for consumer surplus. From the data we have, estimation of the utility function parameters should be possible with Louisiana, Oregon, and possibly Nebraska (with a lot of work transforming scanned tickets into data), in addition to the estimates we already have from North Carolina.

[2018-09-07 08:53] jackblun commented on #15
I have cleaned and analyzed the Oregon data. We are facing the same issues as in North Carolina, in that the nlls method struggles to converge and when it does, estimates are all over the place. All code is pushed to github and should be clear enough. It would be beneficial if someone else had a look through.

I checked the code is working with some dummy data when I did the North Carolina estimat

[2018-09-18 19:39] huntallcott commented on #15
@jackblun I hope you had a great time in deepest/darkest France.
I looked through the analysis and had some thoughts.

1. I disagreed with your approach to calculating sales per unit time. The total sales of each ticket are of course determined ex ante and probably have little to do with demand. So we know we want a measure of the flow of sales, somehow normalized for how many stores are offering

[2018-09-18 19:43] huntallcott commented on #15
Also, minor, but please always use saveold instead of save in Stata, as Stata is not backwards compatible and people may not update immediately to the latest version.

[2018-09-25 21:31] jackblun commented on #15
Noted on saveold - thanks for the tip.

I haven't been able to make any progress on the detailed points above as I've just moved back to Stanford and started my RA job. Will get onto your points when I can - apologies.

[2018-10-03 00:13] jackblun commented on #15
To respond to the two brief data questions above @huntallcott:

1. I've made a few weekly sales plots for a set of games. For most games, we see a fairly rapid decline in sales over the first few weeks of release. Here are two examples:

![screen shot 2018-10-02 at 17 07 17](https://user-images.githubusercontent.com/13908154/46383564-cd1c9880-c665-11e8-9895-57f98e7d38ec.png)

![screen shot 2018-10

[2018-10-03 19:07] jackblun commented on #15
Two further graphs that may be of interest @huntallcott . Firstly the number of games in each store in each week:
![screen shot 2018-10-03 at 12 03 14](https://user-images.githubusercontent.com/13908154/46432951-65695a80-c704-11e8-8812-cc0c1ed9998c.png)
Also the total number of games  each week across all stores:
![screen shot 2018-10-03 at 12 04 28](https://user-images.githubusercontent.com/13908

[2018-10-04 19:48] huntallcott commented on #15
@jackblun thanks for this.

1. The first of these two posts suggests to me that my approach A [above](https://github.com/huntallcott/Lotteries/issues/15#issuecomment-422522610) won't work so well, so we'd have to go with approach B. But for approach B I'm also more worried about, on what share of purchases can you construct the SalesFlow variable I proposed. i.e. what share of sales have another s

[2018-10-08 21:38] jackblun commented on #15
1. I agree this strategy is difficult with the data on sales to stores for Oregon. I've followed up with the Oregon people about how these sales figures are put together and am awaiting reply. It may be they have something more disaggregated. Other than this feature, the Oregon data has a lot of what we need.

2. In these graphs "games in each store in each week" corresponds to the number of diffe

[2018-10-09 01:52] jackblun commented on #15
Correct on your first point - lets hope Oregon has something better for us. I'll go through the other states' data again.

My instinct with the LeFleurs is that they are quite helpful if they think we will buy something..! I haven't spoken to them in a little while. I think if we have some specific questions which are also related to their data holdings, a call could be useful. Do you have an idea

[2018-10-09 11:39] huntallcott commented on #15
@jackblun the basic question in my mind would be what states have the right data for this exercise. We could pitch it as a combo of interest in their data vs. understanding the broader data landscape. It could be that @anjoung's work was the best way to answer that question, but it could also definitely be that 30 minutes on the phone with him saves us weeks of work. But if he's grumpy or focused

[2018-10-09 16:48] jackblun commented on #15
@huntallcott agreed. I'll organize a call next week - I'll let you know the times Byron LaFleur is free.

[2018-10-11 18:15] jackblun commented on #15
I've gone over the other states' data. For retailer-level sales, the situation is the same as it is for Oregon. We have data on sales to stores for a given time period, which is essentially just lumpy stock orders and not necessarily reflective of actual sales to consumers in the period. I think we will either need other data or an alternative strategy.

[2018-10-11 23:59] jackblun commented on #15
@huntallcott I've had a look through the Dimmock et al paper you sent over. The approach used there would be another option for us - estimating the utility parameters (curvature and probability weighting) through a survey module rather than using actual market data. I can see this is less attractive as choices may not reflect those in real-life lottery markets, and it would require a bunch more qu

[2018-10-15 01:10] huntallcott commented on #15
Thanks Jack.
Let’s see what lefleur says.
The nc data should still be viable, yes?
Our other option to do this with market data is to go back to estimating
with lotto sales. There we should have actual purchases.
--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-10-15 01:38] huntallcott commented on #15
@jackblundell, sorry for the delay.
This is a cool idea, and I like that you've got your eyes open for things
like that. My intuition is that this should be a fallback only, for
precisely the reason that you stated -- we want to shoot to use market data
whenever possible, due to concerns about external validity.

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-10-18 03:34] jackblun commented on #15
Response from Oregon suggests data is even worse than we thought. They do conveniently note however that monthly aggregation seems to approximate true sales reasonably well, so that would be something to try:
- Activations is the face value of the tickets that are removed from their pack and made available for sale.  Tickets come in packs and are considered to be 'activated' when the pack is opene

[2018-10-19 19:52] huntallcott commented on #15
@jackblun:
A. It seems like it's still worth understanding stores' ordering and activation strategies, in order to know whether my strategy B [here](https://github.com/huntallcott/Lotteries/issues/15#issuecomment-422522610) will work. Possibility (i) is that stores open packs for specific games exactly when the previous pack for that specific game ran out. Possibility (ii) is that stores order and

[2018-10-19 21:32] jackblun commented on #15
A. The graphs of activations over time suggest (ii) is the case to me, that suppliers make a big order, activate everything and then sell as much as they can, returning the remainder to the state when the game is over.

B. My feeling is that this issue with activations will render B not possible with the Oregon data.

On the broader comment, this afternoon I am meeting with a couple of IO guys her

[2018-10-20 18:13] jackblun commented on #15
Judging from the data, it is the case that the game ends at some fixed date and unsold tickets are returned at that date. However in practice there aren't that many returns, so the date is set far out enough relative to the total number of tickets that the suggested method may not work.

I discussed the empirical problem in general with Martin O'Connell, who you may have spoken to about soda taxes

[2018-10-20 19:37] huntallcott commented on #15
Thanks.

Quoting from our meeting notes 7-3-2018, we liked scratch-offs for the following four reasons:
1. Lots of purchases of scratchoffs.  63% of U.S. lotteries’ total traditional sales in 2017. Lotto+keno is about 37%. (excludes non-traditional: video lottery, casino games, sports betting). It’s 50-60% when you include the non-traditional.
2. Temptation might be a larger share of bias, and we

[2018-10-20 21:31] jackblun commented on #15
Thanks for the clarity above @huntallcott . You are right that our store-level data at the moment is just scratchoffs. On (4), we do potentially have the shift in price of Mega millions to estimate a price elasticity, but perhaps that is not enough.

Agreed on questions. I'm still waiting to hear back from Byron - he said he had an emergency yesterday so I won't pester him over the weekend.

[2018-10-22 20:49] jackblun commented on #15
Notes from call with LaFleur. Remember to caveat all this with the fact that they would like to sell us their data and not push us towards any alternatives. I tried to emphasise how any additional data would be complementary to theirs rather than substitutes, nonetheless keep this in mind.

1. They are not aware of any store-level datasets, and were actually a little surprised that we had obtained

[2018-10-23 15:07] huntallcott commented on #14
Hi @anjoung (and @jackblun ?)-
Just a note to please always use saveold instead of save in Stata, per usual [protocols](https://github.com/huntallcott/lab/wiki/Stata-Code) that I think we've discussed.
Also I found an error or two in the data prep code for the v3 survey and pushed a revised data prep do file.

[2018-11-26 09:28] jackblun opened #16 "Gather lottery jackpot data"
The goal of this issue is to discuss the gathering of additional data on lotto jackpots, to be led by @anjoung . These are the conventional lottery games based on drawn numbers. There are two main types:
1) Large cross-state lottos: PowerBall and Megamillions
2) Smaller lottos running over individual states, or small groups of states

As a first step, it would be useful to have the jackpot amount

[2018-11-26 15:37] anjoung commented on #16
By smaller lottos in (2), do you mean smaller state-versions of things like Powerball and Megamillions? Not things like scratch-off or instant tickets?

[2018-11-26 15:57] jackblun commented on #16
I mean smaller state-versions of Powerball and Megamillions. For now, ignore instants and other types of games. These games tend to be called lotto. An example is the New York Lotto (https://nylottery.ny.gov/lotto <https://nylottery.ny.gov/lotto>). Sorry for being unclear.

[2018-11-27 15:41] anjoung commented on #16
Before beginning all my requests, I wanted to check-in with you about some stuff.

First, I'm planning on beginning by asking the 10 most populous states in the US, and Connecticut. I was wondering if there are any other states given the literature.

Second, what is the structure of the data that we want? I am planning on asking for daily sales over 20-years. This data should represent all registe

[2018-11-27 17:58] jackblun commented on #16
Great questions. In order asked:

1) That sounds like a good plan, but just for clarification why add Connecticut on there?

2) We are mainly interested in the prize data rather than the sales data for now. If we can get sales data further down the line, we should follow that up, but for now just request the information on payoffs. We are buying external data on sales for all states. The most impo

[2018-11-27 19:20] anjoung commented on #16
Added Connecticut because Oster's paper was on CT. Great to hear that we are buying the sales data!! I definitely think it will be a lot easier to get the data on the lottery structures.

[2018-11-29 19:32] anjoung commented on #16
Connecticut has given us prize data for their state lottery.

[CT Lottery - Lotto Jackpot Drawing Information Request by Wharton - November 2018.xlsx](https://github.com/huntallcott/Lotteries/files/2630604/CT.Lottery.-.Lotto.Jackpot.Drawing.Information.Request.by.Wharton.-.November.2018.xlsx)

[2018-11-30 16:17] jackblun commented on #16
That was quick! Thanks.

[2018-12-01 00:04] anjoung commented on #16
Florida's response:

The Florida Lottery
ATTN: Office of the General Counsel
250 Marriott Drive
Tallahassee, FL 32301

[2018-12-01 00:45] bblockwood commented on #16
I'm inclined to go for it. That's trivially cheap, and might take them awhile so we should probably get them moving on it.

[2018-12-03 16:11] bblockwood commented on #16
@anjoung: why don't you come by my office this afternoon between 1:45 and 5pm and I'll give you a check for this. Thanks!

[2018-12-03 16:19] anjoung commented on #16
Will do! The exact amount is actually $85.78. Just received an email with the correction.

[2018-12-05 18:40] anjoung commented on #16
North Carolina just sent data for its in-state jackpot lottery "Cash 5". The data is attached. You can tell when they paid out the jackpot because the jackpot amount resets after every jackpot payout.

Here are two additional notes that they made about the data:

- "Please note that the NCEL changed the matrix for our C5 game on May 15, 2016 from 5/39 to 5/41, and then again on November 4, 2018 fr

[2018-12-07 09:07] jackblun commented on #16
@anjoung thanks for the update. Have you looked into Powerball and Megamillions yet? These national ones will be quite important and I would imagine the data is easier to come by than the state lotteries.

[2018-12-07 15:42] anjoung commented on #16
I have sent out two Public Records Request. I am going to send out another Public Records Request for Powerball and Megamillions since it seems like I chose to request that data from the two very slow state lottery commissions in the country....

[2018-12-11 15:03] anjoung commented on #16
More data from Florida and Texas pointed out that the data we want is available on their website. For Florida, here is a [link](http://www.flalottery.com/lotto) explaining its prize structure. The relevant category is the "6 out of 6", which is the jackpot winners.

Texas: https://www.txlottery.org/export/sites/lottery/Games/Lotto_Texas/Winning_Numbers/

Florida:
[Book2.xlsx](https://github.com/hu

[2018-12-20 15:16] huntallcott commented on #16
@anjoung @jackblun @dtaubinsky @bblockwood ,
This paper (also in dropbox/Papers) uses LaFleur's data and jackpot amounts. See also footnote 27 for an example of changes in lottery structure.
[Knight and Schiff 2012 AEJ Policy - Spatial Competition and Cross-Border Shopping-Evidence from State Lotteries.pdf](https://github.com/huntallcott/Lotteries/files/2699363/Knight.and.Schiff.2012.AEJ.Policy.-.

[2018-12-20 16:11] anjoung commented on #16
Can do! I'll take a look into this paper and also open up new GitHub issue threads and post some updates.

One small immediate update on data collection:
(1) Moved the data into the Dropbox in the codebook folder
(2) Florida responded that they have Powerball data from 01-07-09, and California has a Megamillions data from June 2005. I asked them to send us their data and a price estimate.
(3) For

[2018-12-20 16:18] anjoung opened #17 "Tax Treatment Variation for Winnings"
The goal of this issue is to write a memo detailing any documented changes in how lottery winnings have been taxed over the last 20-years. I'll read the news to see if there is any reporting on changes. Additionally, I will be looking into historic data on top marginal tax rates at the federal and state level. I will also compile information on how lottery winnings are reported for tax purposes (a

[2018-12-20 16:20] anjoung opened #18 "Changes in Ticket Prices"
I will be compiling in this issue any updates on changes to the price of Megamillions, Powerball, or other lottery tickets.

[2018-12-20 16:21] anjoung opened #19 "Change in Payout Structure or Drawing Probabilities"
I will be compiling in this issue any information regarding changes in payout structure or drawing probabilities for Megamillions, Powerball, or any other lottery.

[2018-12-20 16:24] anjoung commented on #19
Have reached out to Texas, Florida, North Carolina, and Connecticut about whether there has been any change.

[2018-12-20 16:24] anjoung commented on #18
Have reached out to Texas, Florida, North Carolina, and Connecticut about whether there has been any change.

North Carolina responded that its ticket price for Cash 5 has always been $1.

[2018-12-20 18:05] anjoung commented on #17
Top marginal tax rates at the federal level are recorded [here](https://www.taxpolicycenter.org/statistics/historical-highest-marginal-income-tax-rates) by the Tax Policy Center. Additionally, [here](https://www.taxpolicycenter.org/statistics/state-individual-income-tax-rates-2000-2018) are the top marginal tax rates at the state level from the Tax Policy Center.

A recent paper by Mertens and Ole

[2018-12-20 18:49] anjoung commented on #19
North Carolina just sent me the following. The change occurred on Nov. 4th, 2018.

![north carolina - cash 5](https://user-images.githubusercontent.com/30239050/50304500-1eb31300-045e-11e9-958c-54533c479c30.jpg)

[2018-12-21 14:43] anjoung commented on #19
CT sent us information on changes to the pay structure, ticket cost, and names for their state lotto.

[2018-12-21 14:44] anjoung commented on #18
The cost of a CT lotto ticket has remained unchanged from $1 since 1983.

[2018-12-21 20:55] anjoung commented on #16
Received the following data from Powerball. Both files are in the notes folder in the Dropbox.

Time series of draw dates and associated jackpot size, whether or not there was a winner, and state of winner: [Powerball Jackpot List.docx](https://github.com/huntallcott/Lotteries/files/2704231/Powerball.Jackpot.List.docx)

Changes in prize structure for both jackpot and non-jackpot prizes: [Powerball

[2018-12-21 21:02] anjoung commented on #19
I just received pay structure data from Florida. That means that we have prize structure data from Powerball, CT, FL, and NC.

[2018-12-22 14:11] huntallcott commented on #16
@anjoung thanks for doing this.
As time allows given the holidays etc., please consider the following things:
1. Please be very regular about maintaining DataSources.txt files. Right now there are a bunch of folders with great data, but we have little idea where it came from. It could be that the DataSources.txt file just says, "see Notes/Contact Information for State Lotteries.xlsx", but either w

[2018-12-31 09:13] jackblun commented on #16
I've been taking a look at the Powerball jackpot data that Andrew found (in DataStorageCodebooks). A couple of things of interest:
- Its pretty interesting just to look at the dynamics of jackpots. They accumulate slowly at first, but then build at an accelerating rate. Heres what the Jackpots from 2016 to today look like:
<img width="947" alt="screenshot 2018-12-31 at 09 02 58" src="https://user-

[2018-12-31 09:41] jackblun commented on #4
I've been looking through the Powerball data acquired by Andrew. It seems to me that here we have:
a) A lot of potentially useful variation in Jackpot. It would I think be quite possible (with sales data) to get some solid estimates of demand responses to changes in jackpots.
b) Very little useful variation in price. The price changes only once (from 1 to 2 dollars), and this coincides with change

[2019-01-02 20:43] anjoung commented on #16
Back from the holidays!! Going to tackle Hunt's pre-holiday tasks soon. Caught up on some emails.

Planning on calling the IRS and, if that doesn't work, several state Departments of Revenue. I've gotten two state lottery commissions saying tentatively that lottery earnings are taxed by state in which you bought the ticket. Since nobody seemed to be sure, I thought that I should gather some more i

[2019-01-03 14:07] huntallcott commented on #16
Great! Thank you Andrew!

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2019-01-03 14:11] huntallcott commented on #16
And regarding Jack's post above Andrew's:
* Thanks for diving into this.
* Interesting on dynamics of jackpots. Is this is because ticket purchases
really go up when the jackpot increases, and the jackpot rolls over recent
ticket purchases? Not a priority to answer this particular question -- just
idly curious.
* yes to scaling down the jackpots, excellent point and thank you.

On Monday, December

[2019-01-03 14:15] huntallcott commented on #4
Jack-
Great, and thanks for pushing on this and getting to know the data!
On (b), two comments which I think we've discussed before:
* It's still not obvious to me that we need to know the elasticity wrt
upfront price as long as we don't consider a tax or other policy change
that will manipulate that price. Let's see what Ben's theory work gets us.
* If we do need the elasticity wrt upfront price

[2019-01-04 03:35] dtaubinsky commented on #16
@jackblun Quick question: If smaller powerballs actually advertise the non-anuitized amounts, does that mean there exist two prizes X and Y such that Y is a teensy bit larger than X but advertises a much larger amount (since Y can be annuitized but X can't)?

[2019-01-04 09:40] jackblun commented on #16
Yes, that's right. Except in practice usually the jackpot is far higher
than the smaller prizes so not so close. For example, the minimum Powerball
jackpot is 40 million, which if taken as a lump sum rather than annuity
will be something like 27 million, whereas the largest non-jackpot prize is
something like 1 million.

On Fri, 4 Jan 2019, 04:35 dtaubinsky <notifications@github.com wrote:

[2019-01-04 16:42] anjoung commented on #16
Update: Wisconsin has the last 5 years of data for their state lottery, but it would costs $525. Assumed that this is too high a cost for not that much data, but wanted to check.

Also, got the mailing address for Michigan! Let me know if you'd like the data.

[2019-01-04 16:47] bblockwood commented on #16
@anjoung great on Michigan. Let’s go for it. I can give you a check when I return from the ASSA meetings next week.

On Wisconsin, that’s not cost prohibitive and I’m happy to cover it if there’s real marginal value to having it. @jackblun, based on your view of the data and variation so far, would this WI data be helpful?

[2019-01-04 17:09] jackblun commented on #16
**Cash value / dynamics**

To respond to @huntallcott 's comment above on the Powerball dynamics, yes I the accelerating increase in jackpots is due to more tickets being sold as the jackpot gets higher. If I understand correctly, the advertised jackpot is approximately:

40 million + (accumulated ticket sales since last jackpot win)*(expected returns over 30 years)  - 'profit' for lottery company

[2019-01-04 17:16] anjoung commented on #16
@jackblun Asking them right now. I suspect that it would probably just be the data for [Mega Bucks](https://en.wikipedia.org/wiki/Wisconsin_Lottery), which is WI state lottery. It would probably just be the date of each draw, the jackpot for each date, and an indicator of a winning jackpot. Are there any bells and whistles that would make this data "worth it"? I can directly ask for those things.

[2019-01-04 17:20] jackblun commented on #16
Thanks @anjoung , update us if its anything different to that, although I can't think of much that would make it special! I think given the cost, the small number of years they have and what we have already from other states, we should wait to see what we can do with the other data and then purchase this if we really need more.

[2019-01-07 22:01] anjoung commented on #16
Here is the spreadsheet that I made based off of the conversation. It's in the Codebook folder. Currently, the arrangement is that the spreadsheet offers an overview on the state of the data. The "Read Me" files contain more precise information about exact sources and email correspondences that would be messy to include in the spreadsheet. Please let me know if anything is missing in the spreadshe

[2019-01-07 22:02] anjoung commented on #16
Here is the [spreadsheet](https://github.com/huntallcott/Lotteries/files/2734429/Data.Overview.xlsx) that I made based off of the conversation. It's in the Codebook folder. Currently, the arrangement is that the spreadsheet offers an overview on the state of the data. The "Read Me" files contain more precise information about exact sources and email correspondences that would be messy to include i

[2019-01-08 15:14] anjoung commented on #16
@bblockwood How does the [spreadsheet](https://github.com/huntallcott/Lotteries/files/2737276/Data.Overview.xlsx) look now?

Also, Wisconsin told me they can send the following data: "We would provide Game, Draw Date, Prize Tier, Prize Tier Amount, and Number of winners for each of the following Wisconsin Lottery lotto games:  Megabucks, 5 Card Cash, Pick 3, Pick  4, Badger 5, and SuperCash!" The

[2019-01-08 16:01] bblockwood commented on #16
Thanks! That’s a nice visual overview of the data. I’ll let @jackblun weigh in again on the usefulness of the WI data relative to what we've got.

[2019-01-08 17:59] jackblun opened #20 "Income effects estimation"
I'm opening this issue to discuss my analysis of income effects using lafleurs data on sales

[2019-01-08 18:01] jackblun commented on #20
I've cleaned the La Fleurs data, which turned out to be a bit more of an endeavour than expected. The cleaning file is in the code folder on github and the cleaned data is in the Dropbox under Externals/Data/lafleurs_clean.dta in case anyone wants a look.

[2019-01-08 18:04] anjoung commented on #16
Added a few extra notes on the memo.
- CA exempts (and still does) lottery winnings from taxation
- Some states have imposed bans on lottery ticket sales. Assumed that this would be apparent in the data, but compiled a short list in case this makes things easier.
- Only 20 states allow lottery ticket purchases using a credit card. Most states allow at least debit cards.  A small handful only allow

[2019-01-08 18:08] jackblun commented on #16
@anjoung on the points above yes those both sound very useful given our previous discussion.

On the WI data, thanks for finding out more. My feeling is that we should hold off until we see what we can do with what we have.

Thanks for the spreadsheet too!

[2019-01-09 00:10] huntallcott commented on #20
@jackblun this is spectacular, and thanks for spearheading it.
It looks like this will work on all of our computers, and thanks for using saveold, this is great.
A couple of minor points:
1. Please do `compress` before saving.
2. Please use Externals/Data only for raw data that is used in the analysis. All intermediate and prepared data files should be in Externals/Intermediate. Sorry for those co

[2019-01-09 08:46] jackblun commented on #20
@huntallcott thanks. I didn't know about the compress command - my hard drive will appreciate that!

Quick follow up on file structure. What is the distinction between Externals/Data and DataStorageCodebooks?

[2019-01-09 12:48] huntallcott commented on #20
@jackblun: Great question. See guide [here](https://github.com/huntallcott/lab/wiki/Folder-Organization).

[2019-01-09 17:05] jackblun commented on #20
I have completed some initial analysis of income effects. All code is on github. I've written this up in a very short memo [here](https://docs.google.com/document/d/1QTs35lQV3wPEpCq28LqFSywEhsaftNoWM5jlB_IiBx8/edit#).
 in which I discuss the main results.

Issues to consider:
- is this the right approach to get the elasticity we need?
- are there any controls we want in here? I'm thinking we need

[2019-01-10 09:09] jackblun commented on #20
Thanks for the detailed feedback, a few comments and followups on selected points:

2. I've not used Lyx before, but I assume its easier than Latex so I'll give that a go.

3. Yes - these are the La Fleur's abbreviations.

4. sales_pc at the moment is in millions of dollars per capita, which is why it is super small. Clearly we want something else but since all the work is in logs at the moment I

[2019-01-10 12:17] huntallcott commented on #20
5. Quarter of year is what you did originally - four dummies. Quarter of sample means there is a dummy for each of the ~160 quarters in the data. The base spec for any panel data model (what I am saying should be column 1 of our table) is going to have one dummy for every t, which for us is quarter of sample effects.
6. Yes it would be great if you could work more on this angle and see what you fi

[2019-01-10 14:05] jackblun commented on #20
5. Understood - sorry for being slow! Yes I can see that would much more sense than a quarter-of-year + time trend, so then our variation is state-quarter-specific income shocks, makes sense. Thanks

[2019-01-10 16:10] jackblun commented on #20
On the idea of using the recession, here's a plot which might be helpful:
<img width="985" alt="screenshot 2019-01-10 at 16 05 53" src="https://user-images.githubusercontent.com/13908154/50980950-c1a4fd00-14f1-11e9-8b39-610af10ca40b.png">

On aggregate, looks like a lagged response in lottery sales, so I'll think about how best to model this.

It looks like we will benefit from more states. There

[2019-01-10 16:16] huntallcott commented on #20
Thanks, and interesting. You might also double-check that there’s no weird missing data in Q1 and Q2 2011? Other than that things look like they could be contemporaneous. In any event, a 6-month lag does seem plausible.

[2019-01-14 16:06] bblockwood commented on #16
*Documenting my phone conversation with @anjoung regarding web scraping for a few states' prize data, starting with TX as on [this page](https://www.txlottery.org/export/sites/lottery/Games/Lotto_Texas/Winning_Numbers/index.html_1431178638.html).*

Given @anjoung's experience with R, I recommend using that language for the primary script. (I had recommended using linux wget to download the web sou

[2019-01-15 02:30] huntallcott commented on #16
Yes this sounds great to me, thanks.

[2019-01-16 15:50] huntallcott commented on #20
@jackblun hope you're doing great, and just checking in. How is this analysis looking? Once this is done I'm excited to work with you and @bblockwood to develop the demand estimation!

[2019-01-16 18:11] jackblun commented on #20
Hi @huntallcott thanks for checking in. I've been busy prepping for presentations this and next week at Stanford, but by the end of the week I'll have some more results. Today I'll hopefully finish cleaning up the remaining La Fleurs states to ensure we have the most data possible.

[2019-01-16 20:08] anjoung commented on #16
This is what I've managed so far:
[code]
This code loads all the URLs that I need, but I am not sure how to loop over the URLs. Also, I've been trying to use [rvest](https://stackoverflow.com/questions/42356491/trying-to-use-rvest-to-loop-a-command-to-scrape-tables-from-multiple-pages) since it promises to pull the data directly as a table, which would eliminate having to first download the source

[2019-01-17 17:53] anjoung commented on #16
Also, I tried to implement a similar process to collect small prize data from [CT's website](https://www.ctlottery.org/Modules/Games/default.aspx?id=6&winners=1), but am running into some problems. In order to observe the small prize data, I need to click on the "View" button, which produces a pop-up window. I do not observe the contents of that pop-up window in the source code; it looks like ther

[2019-01-17 19:41] bblockwood commented on #16
@anjoung thanks for your work on this.
1. On your dates issue, this sounds like something that needs a little more programming work to grind through. You have created a data object called "dates" [here](https://github.com/huntallcott/Lotteries/blob/12c7b3a86d5d22efe95bfc62c52e5f81c24cd140/Code/Build/datascrap_texas.R#L20) — you could loop through it and keep only the lines that are well formatted

[2019-01-17 22:25] bblockwood opened #21 "Get MakePaper.py working for replicability"
The goal of this issue is to ensure we can run and replicate the paper using MakePaper.py across platforms.

[2019-01-18 21:03] anjoung commented on #16
I made a decent amount of headway on the CT data, but am running into a brick wall. Figured out where they store the data that populates the pop-up window. All I need to run a loop that calls this data is a stock URL where I change the "date ID". The date ID is formatted MMDDYY, and since I have jackpot data it is easy for me to make a list of all the date IDs. However, I am having trouble reading

[2019-01-18 21:50] bblockwood commented on #5
Hi @jackblun, @huntallcott, and @dtaubinsky:

I have been working on lottery theory for the past couple days, and wanted to share what I've learned. See the current writeup [here](https://github.com/huntallcott/Lotteries/blob/master/Output/Lyx/Paper.pdf). Section I.A goes through the model setup we've discussed before, where Equation (1) is the starting point for the demand system @jackblun and @h

[2019-01-18 21:59] bblockwood commented on #16
Amazing! Very nice work tracking down the static pages that have the data — that's much easier to deal with than javascript. This sounds like an annoyance possibly related to characters which need to be escaped. I would focus first on writing a function that downloads the source for this page you linked, when you pass it the string argument "06292018". Once that is working, you can work on looping

[2019-01-19 02:07] jackblun commented on #20
So right now, having spent a while cleaning up mistakes and inconsistencies in the la fleurs data, no matter what I'm doing, I get a negative income elasticity, which becomes significant if we focus on the large negative income shocks experienced by states around 2008. In other words, though on aggregate lottery sales fell post-recession, this was primarily driven by states who were hit less hard

[2019-01-19 04:33] bblockwood commented on #20
Thanks fur digging into this, @jackblun. A couple thoughts on this.
* In general a negative causal income effect doesn't seem impossible to me. Lotteries are an escapist good -- if you're going through a rough patch, you lost your job, and you're underwater on your mortgage, maybe you buy more lottery tickets.
* But I'm worried that this contradicts the evident overall effect that lotto sales fell

[2019-01-21 02:42] jackblun commented on #20
On Ben's comments:
- Yes agreed that negative causal income effect could seem plausible, but not really consistent with everything else we have learned about lottery demand
- It is true that the sign flips and becomes significant if we include only quarter-of-year FE, but I don't find the cross-state variation super convincing.
- I tested for the inverse u shape and it doesn't seem to be there.

H

[2019-01-21 15:00] huntallcott commented on #8
closing this issue, as it's out-of-date.

[2019-01-21 15:00] #8 closed

[2019-01-21 15:01] huntallcott commented on #15
closing this issue, as it's out of date. Thanks @jackblun @anjoung for the work you did on this.

[2019-01-21 15:01] #15 closed

[2019-01-21 15:05] huntallcott commented on #21
@bblockwood:
Matt Gentzkow is almost done with a new repo template. Let's ignore the old template and just bring in that new template sometime soon?

[2019-01-21 15:05] #21 closed

[2019-01-21 15:15] huntallcott opened #22 "Clean LaFleur data"
The goal of this issue is to make sure that the LaFleur data are fully clean.
I have some questions based on @jackblun's great work in #20. Jack, sorry if I missed this somewhere else, and I know you've been emailing about some of these issues with Byron.

1. Missing data for specific states and years
I ran this code (and I know you've done something similar already):
`use "$dropbox/Externals/Inte

[2019-01-21 15:52] huntallcott commented on #20
@jackblun thanks for pushing this forward. Here are some thoughts:
1. Minor:
   - please don’t use preserve as it makes debugging hard. Just write
`use incomeeffects_clean.dta,clear`
again if you had previously modified what’s in memory.
   - I think that as a practical matter, we want numgames to be the current numgames variable divided by the state's sample average numgames. The reason for this

[2019-01-21 16:31] huntallcott commented on #5
@bblockwood this is truly tremendous work. Thanks for moving this ball forward.
A couple of things to at least consider:
1. I have reservations about taking the Section 1.4 simulations seriously -- you say that standard probability weighting functions can't match demand, but you use alternative weighting specifications, you can. But couldn't we just add some other degree of freedom and also match

[2019-01-21 17:43] jackblun commented on #20
@huntallcott on your comments:

1. Thanks for the note re preserve.

3. Agreed re data cleaning, I'll discuss in that issue.

4. Thanks for doing that and agreed not much we can take from it, given outliers. VLT is a particular issue with the data which I'll discuss in the data cleaning issue.

5. Agreed that doing something at the game-state-quarter level would be nice. One issue is that games so

[2019-01-21 19:06] jackblun commented on #22
Thanks for highlighting this. Agreed that cleaning needs more work. I've had a few back and forths with Byron on this as more issues emerge.

1. There are two problems here. One is that some state-years just are not present in the La Fleur's data. As you've seen, I've asked Byron whether there is any way to rectify this. The other is that I have dropped some of the states you mention for data reas

[2019-01-21 23:12] jackblun commented on #22
I've fixed a couple of small errors in the 2010 data for PA and ME. One puzzle is that RI and WVA have super high per capita sales. I'll see what Byron says re VLT, as I think this might be something to do with it.

[2019-01-22 02:15] huntallcott commented on #20
I think we don't want to weight. Weighting decreases power (unless we have measurement error for smaller states, which I don't think we do), and in the service of higher power, conceptually it seems OK to assume a homogeneous income elasticity across states, in which case unweighted is fine.

[2019-01-22 14:53] bblockwood commented on #5
Thanks for these comments, @huntallcott.
1. I don't know if the simulations in 1.4 have exactly the right form, but there is one way in which I think they should be taken quite seriously: they show us *why* the conventional KT and Prelec functions don't match well. Specifically, any weighting function which matches observed lottery demand (assuming lotteries are anything close to profit maximizing

[2019-01-22 16:42] bblockwood commented on #19
Closing this issue for now, though can reopen if there are other data-gathering opportunities here.

[2019-01-22 16:42] #19 closed

[2019-01-22 16:42] bblockwood commented on #17
Closing this issue for now — see [memo](https://docs.google.com/document/d/1SG84G-C0chfjnaQeeSRW2Zh839NgstHiZ22bNpeAHbA/edit?usp=sharing) for the deliverable.

[2019-01-22 16:42] #17 closed

[2019-01-22 16:43] bblockwood commented on #18
@anjoung still hoping to hear back from a couple states about this, but closing this issue for now.

[2019-01-22 16:43] #18 closed

[2019-01-22 16:47] bblockwood opened #23 "Build clean data set of jackpots and probabilities by lottery"
The deliverable for this issue is a clean Stata data set of prize-and-probability pairs at the state X lottery X week level.

[2019-01-22 19:31] jackblun commented on #20
Some good progress on this today. In light of data problems discussed in the data cleaning issue, I've been doing analysis at the game-state-quarter level. I run the following:
[code]
This is a regression of log total sales for each game-state-quarter cell, on quarterly log income, with quarter-of-sample, game and state fixed effects. I get a significant (at 5% level) coefficient on log income of

[2019-01-22 19:38] jackblun commented on #22
Update on the cleaning side:
1. I have found that much of the drop in 2010 can in fact be explained by poor data. In many states, there are games missing for this year. Some of these are not 'niche' games, but big games such as powerball.
2. More generally, I am increasingly sceptical that we are always seeing the 'full' set of games on offer in each state here, so the total sales figure will like

[2019-01-22 21:31] jackblun commented on #22
I think it will vary. Given previous experience with them, if a state-year is entirely missing, they may have just made a mistake copying the entire sheet over so we may get some of those back. For individual missing games within state-years, I would guess that it is less likely there will be a fix. The fact that I’ve found many missing games in 2010 suggests to me that someone was sloppy on data

[2019-01-22 21:52] huntallcott commented on #20
@jackblun whoa, that's a good-looking scatterplot. (Incidentally, I'd use nq(10) or nq(15) and it will look really slick.)
So either this is correct, or there's some other mechanical endogeneity source that we're missing. (Right now I fear it's the latter -- this looks too good.)
Some questions:
1. It should also be fine to have loc_sales_pc and log_income_pc, right? The per capita regression make

[2019-01-22 22:23] jackblun commented on #20
Responses:
1. I got a positive coefficient (around 0.5) but not quite significant when using per-capita levels. Same if I control for log_pop in aggregates rather than pop.

2. game_fac is just a fixed effect for each game. For cross-state games such as megamillions, powerball and some others, this will span multiple states. Is the concern with this that we are leveraging cross-state within-game v

[2019-01-22 22:41] huntallcott commented on #20
1. It doesn't work to control for pop in levels when everything else is in logs. Let's do ln_sales_pc and ln_income_pc for sure.
2. Exactly, that's the worry. I would do the exact fixed effects I mentioned in 2 [above](https://github.com/huntallcott/Lotteries/issues/20#issuecomment-456577621).

I think we're getting closer to the right answer. Can you do some more looking into the data, e.g. figur

[2019-01-22 22:52] jackblun commented on #20
Sure, to follow up on (2), wouldn't we also need mm and pb interacted with state rather than with qyear? Otherwise wouldn't we run into the same problem, that we are using cross-state-within-quarter variation in pb and mm sales?

[2019-01-22 22:54] huntallcott commented on #20
@jackblun yes you are correct, sorry for my confusion.
I think you can and should still do mm x qyear and pb x qyear as well.

[2019-01-22 22:56] jackblun commented on #20
@huntallcott okay that makes perfect sense.

[2019-01-23 01:55] jackblun commented on #22
@anjoung , I understand you may have some time and be able to help with the cleaning of the La Fleur's data. This would be really helpful. We have purchased data on weekly sales of each lottery game, at the state level. I have spent some time cleaning the data and have discovered several anomalies. These are so far:
- States which are missing for certain years
- States which have incorrectly calcu

[2019-01-23 14:34] anjoung commented on #22
@jackblun This all sounds good to me! Let me know if there are any additional items you need me to tackle

[2019-01-23 16:03] jackblun commented on #22
@anjoung brilliant - thanks. Do get in touch if anything is unclear in the code.

[2019-01-23 21:23] jackblun commented on #20
As an update on this, I've tried the above strategy with game-state FE, mm x qyear and pb x qyear, state FE and qyear FE.

On the whole sample I get a small insignificant number (~0.15). However, I have found a lot of inconsistencies in the 2010 data, and suspect that something might be happening to the data around 2010 which means that the years afterwards are somewhat different.

Given this, I h

[2019-01-23 22:23] anjoung commented on #22
I've made a little bit of headway on this. I made the following [document](https://github.com/huntallcott/Lotteries/files/2789352/Data.inconsistencies.docx). The document compiles all the notes in the do-files. I also added missing data that I noticed. So far, I've only assessed whether a state is missing the variable _all_games_sales_. I collapse this variable by state and century-week. Then, I t

[2019-01-23 23:47] jackblun commented on #22
Thanks for the quick work Andrew, the doc looks good. Could you note in this file whether states have lotteries at all? We don’t care if we are missing a state's lottery sales due to there not being any lotteries in that state over that year, but we do care if there are lotteries but they don’t appear in our data.

I’m not sure I understand what you mean by century in this setting though, could yo

[2019-01-24 12:21] huntallcott commented on #20
@jackblun thanks again for doing this.
Just to state the obvious, but quick reminder: I don't think we care what the elasticity is, and whether you are getting positive/negative/insignificant I think isn't going to tell us whether we think we're done. So for example, in your post above, I was more interested in "I found inconsistencies in 2010, ... we're looking for the anomalies and fixing them"

[2019-01-24 14:43] anjoung commented on #22
Got it! Thanks for the answers. When I am flagging states without any lotteries, do you mean just state lotteries, or state lotteries+Mega Mill+Powerball?

By century, I just mean year.

[2019-01-24 14:50] jackblun commented on #20
On that final comment, I totally agree. What I wanted to do with that
sample splitting was to test whether it looked like something was happening
around 2010 which would suggest some kind of data problem.

On Thu, 24 Jan 2019, 04:21 Hunt Allcott <notifications@github.com wrote:

[2019-01-24 14:52] jackblun commented on #22
I mean states without any lotteries altogether. Some states have only
introduced lotteries recently, and some (eg Nevada) don't have them at all.
I believe the lotteries in the US page on Wikipedia has a list.

On Thu, 24 Jan 2019, 06:43 Andrew Joung <notifications@github.com wrote:

[2019-01-25 01:47] jackblun commented on #22
@anjoung on the data cleaning front, would it be possible for you to replicate what I have done for 1997 onwards for years 1994, 1995 and 1996? We have the La Fleurs data for these years but haven't cleaned it.

This should be fairly easy and you can copy paste most of the code I have already used, but there is one initial hurdle. When I first tried importing these earliest years, there was someth

[2019-01-25 15:45] jackblun commented on #22
Great. The priority should be one the first task, where you finish cleaning and writing up errors for post 1998.

[2019-01-25 15:45] jackblun commented on #22
Sorry - mean post 1997.

[2019-01-27 20:19] jackblun commented on #22
Hey @anjoung , do you have an update on this? Would be great to hear how you're getting on.

[2019-01-28 02:36] bblockwood commented on #22
Hi @jackblun — a bit of info from my check-in meeting with @anjoung Friday: he is pushing forward on the memo, and is leaving a “current status” note at the top of the *Data inconsistencies.docx” memo to indicate where things stand. Andrew is currently splitting time between this project and tasks for his co-supervisor, though he’ll be able to move to this essentially full-time at the end of Febru

[2019-01-28 15:14] anjoung commented on #22
@jackblun Updated the status of the document to reflect that I found some errors in my coding that I need to resolve. I am planning on finishing this either tomorrow afternoon, or Wednesday afternoon. Please let me know if you need this done faster!

[2019-01-29 21:54] anjoung commented on #22
@jackblun Just finished my first run through of the memo! I've attached a bunch of files to this post, but all of them are available in the Notes subfolder on Dropbox. The only exception is the do-file for this which is located in "~/Code/Temp-Andrew Checking Data/CHECKlafleuers.do". The log files are reported in the memo. Please let me know if _anything_ is unclear, or if you need further analysi

[2019-01-30 00:04] jackblun commented on #22
Hey @anjoung , thanks for all this work. My main takeaway from this is that games do seem to drop in and out of the sample suspiciously quickly, so we are right to be doing a game-level analysis.

Two questions / comments:

1. I'm not sure I understand what you're doing when you calculate errors in calculating the main sales variable. For example, in California year 2000 week 52, Total Online + In

[2019-01-30 00:40] huntallcott commented on #22
Thanks @anjoung.
A. Jack, it seems useful to continue keeping track of whether we should be asking LaFleur to look for these missing data, or whether we should think of these data as totally gone.
B. Just a note -- when we go back to analysis at the game-by-quarter level for income effects, it may be good to think about using data that is "average sales per week for non-missing weeks," given that

[2019-01-30 15:41] anjoung commented on #22
@jackblun To identify errors for the main sales variable, I started with the cleaned data. Then, I summed the "sales" var by state-week. Then, I take this summed variable and the main sales variable, find the difference, and round to the second decimal place. Is there some sales information that is not present in the cleaned data, but is available in the raw data? I'll take a second look at all my

[2019-01-30 16:42] jackblun commented on #22
Hi @anjoung thanks for the update. With these kind of tasks it is usually really useful (if possible) to just eyeball the raw data to sense check your findings. Cheers

[2019-01-30 16:54] anjoung commented on #22
@jackblun Thank you!! Happy to do it.

[2019-01-30 20:55] anjoung commented on #22
Planning on reviewing each spreadsheet by eye to make sure things are being calculated correctly at least on that level. After having reviewed some of the spreadsheets, I am not 100% sure why my method is not working. The main sales var seems to be the sum of all columns for a given row, excluding per capita measurements and sometimes VLT numbers. Otherwise, any errors in calculation would be appa

[2019-01-31 03:20] anjoung commented on #22
Did some digging and think that I've nailed most of the problems. There are 19 observations where I cannot replicate the main sales variable successfully. I haven't given up; just haven't gotten to observe these individual cases. I eliminated most of the problems by removing data that was incorrectly read-in as raw data. Also, there were a few cases where data was being incorrectly calculated. I'l

[2019-01-31 16:37] jackblun commented on #22
@anjoung thanks, thats a great find re the weeks at the end of the year. I will think how best to deal with that, but it shouldn't be too difficult.

[2019-01-31 19:08] anjoung commented on #22
Figured out the remaining issues. There was negative sales values that were not getting read correctly. Are there supposed to be negative values?

[2019-01-31 20:51] jackblun commented on #22
There should not be negative values. How frequent are these? If not super frequent, we could drop state-game-years where they appear.

[2019-01-31 21:01] anjoung commented on #22
They are not super frequent and usually super small. I'll adjust the cleaning do-file to take this into account, and add these cases to the memo.

I've nailed down the cases where we cannot replicate the main sales variable using the game-specific sales info. I have four cases where this is not due to to duplicate dates. In one case, this is because I am missing the sales variable for one state-da

[2019-01-31 21:03] huntallcott commented on #22
@jackblun can you just put the negative values on the list of things to ask Mr. LaFleur? I would like to know whether to make these zeros vs. consider them as valid numbers. I imagine they could be valid, based on what we learned about occasional scratchoff returns, right?

[2019-01-31 21:03] jackblun commented on #22
Hmm okay, thanks for noticing with the VLTs. I expect we may have to omit VLTs altogether. For now, can you flag which type is reported?

[2019-01-31 21:21] jackblun commented on #22
@huntallcott thats true, however if these aren't reflecting actual weekly sales, we would probably want to drop them right? I'll put all these issues in an email to Mr LaFleur once Andrew is done.

[2019-01-31 21:46] anjoung commented on #22
@jackblun The memo should be fully updated with all the new stuff. I've flagged the specific state-weeks for which we have issues regarding replicating the main sales var, as well as whether the issue is due to "duplicate dates" or a negative number. Also, added any problems that I found in the raw data that I corrected. I hand-corrected the raw data for two spreadsheets (MO 2003, and PA 2003). I

[2019-02-04 15:14] anjoung commented on #22
@jackblun I have not been able to make any progress on the game-specific errors. The memo currently records any errors on La Fleur's end 1998 onward. I removed any miscalculation errors that we were able to correct from the memo, but include any manual corrections for the sake of maintaining a record of those changes.

I think the three main things on my plate are (1) finding game-specific errors,

[2019-02-04 16:34] anjoung commented on #22
Sorry I want to clarify on game-specific errors. I have a comprehensive list in the memo of all the games where we are missing data in the way that I detailed in the memo. However, I have not assessed if we are missing data at the tails (e.g., when was each game officially started/ended and does this map onto the data we have available). Outside of the tails, I think that I've identified and liste

[2019-02-04 18:37] jackblun commented on #22
@anjoung thanks for the update and all the work. I think it would be a good time to move onto (3), cleaning the jackpot data and merging it with the sales data. Tasks (1) and (2) are less of a priority.

Regarding the cleaning of the jackpot data, I think the place to start would be with the large multi-state games. A great intermediate target would just be to have a dataset of megamillions and po

[2019-02-04 18:49] anjoung commented on #22
Got it! I'll get to work on this ASAP

[2019-02-05 21:41] anjoung commented on #22
Made some headway on making the PB and MM dataset. Just want to outline some issues that cropped up.

First, for winning jackpots, Powerball records the amount claimed rather than the advertised jackpot. Moreover, for those who claim cash prizes, the data reports the cash amount claimed rather than the annuity amount. One possible solution is to turn to [Wisconsin](https://www.wilottery.com/lottog

[2019-02-06 09:19] jackblun commented on #23
@anjoung thats a great graph and shows that the data from La Fleurs and your gathered data roughly align in the way we would expect. Great job! One issue is time trends. Since these are all in nominal terms, it would be great to see the same thing with year fixed effects to take out some of this.

Regarding the jackpot annuity issue. My recollection is that it is fairly straightforward to related

[2019-02-06 09:46] jackblun commented on #22
As an update - I've emailed La Fleurs again based on the info @anjoung recorded in his memo. I'm focusing on entirely missing years and advice on how they approach VLT sales, will update when they provide more info.

[2019-02-07 18:23] jackblun commented on #23
Thanks for the update and the detailed research. We might have to do some work later on the annuity vs cash issue, since it does make a big difference. Could you see how much variation there actually is? You should for example be able to find out what the advertised jackpot was for the most recent Powerball and mega millions winnings, then calculate the percentage difference to what you see in the

[2019-02-07 20:21] anjoung commented on #23
Will look into most recent winnings soon, but you were right about using absorb().

![overal](https://user-images.githubusercontent.com/30239050/52440385-01103a80-2aec-11e9-99fc-b5e043d162a6.png)

[2019-02-08 15:46] anjoung commented on #23
@jackblun Just got a response from Wisconsin and here is what they said

Since they use the advertised jackpot amount, should I switch over to the Wisconsin data as our main data source for jackpot earnings? I am still waiting to get a response on what exactly the PB website data is measuring.

[2019-02-08 15:48] jackblun commented on #23
Brilliant. Sounds then like we might be better off using Wisconsin's data, given we are interested in how demand responds to the advertised jackpot. Could you produce something comparing the two?

[2019-02-08 15:50] anjoung commented on #23
Do you mean comparing jackpot amounts from Wisconsin to sales, or comparing Powerball's website data with Wisconsin's data?

[2019-02-08 15:51] jackblun commented on #23
Sorry, to clarify. I meant comparing powerball to wisconsin so that we can see where there are differences.

[2019-02-08 17:39] anjoung commented on #23
I calculate difference = jackpot_wisc - jackpot_pb.

First, here are the percentage of observations for which we have differences:
**Overall**: 67.5%
**Among Winners**: 98.8%
**Among Non-Winners**: 63.7%
**Among Cash Claims**: 100%
**Among Annuity Claims**: 78.6%

I also generated scatter plots to see if differences change over time and I saw nothing on that front (mapped out both the difference a

[2019-02-11 08:35] jackblun commented on #23
Okay, thank you. My summary of this is that those that take lump sums tend to get between 50% and 70% (pre tax) of the advertised annuity value. This is consistent with what we know from previous research and shows the data is sensible. Given this, I stick to my original suggestion of using the Wisconsin data on advertised jackpots over the directly-provided powerball data.

[2019-02-11 10:53] jackblun commented on #22
Hey @anjoung , another data cleaning issue has come up with the La Fleurs data I am hoping you'll be able to help with.

We are trying to analyze the effect of income on lottery sales by using game-state level information. I've realized that in the La Fleurs data, there is some inconsistency in the names of games over years. For example, in many years there is a game in DC called "HotFive", and in

[2019-02-11 15:32] anjoung commented on #22
I can definitely do this @jackblun!

[2019-02-11 17:39] anjoung commented on #22
@jackblun I am running into a bunch of cases where I have two games that are likely two parts of the same game. For example, with Powerball, we might have separate IDs for "Powerball" and "Power Play". Another more extensive example is the game "3D" and "4D" have a bunch of different versions like "3DD", "3D Extra", "3D Digital", etc. Is it best to leave these games separate for now, or should I t

[2019-02-11 17:44] jackblun commented on #22
To be clear, you only need to combine if they are within-state. For example, if there is a 3DD in NY and a 3D Digital in TX, you don’t need to worry about whether these are the same game or not. If they are in the same state, I wouldn’t combine anything that isn’t clearly the same thing. The cases we want to combine are games where for example in one year in one state they are called “hi5”, then t

[2019-02-12 19:07] anjoung commented on #22
I've tried my best to clean-up the game names! I tried to make the changes as transparent as possible, so there is a large chunk of games that I just hand-coded.

As I was doing this, I realized that some of these game names are actually concatenations of two games. For example, the game "txmillionstx2step" is the combination of "Texas Millions" and "Texas Two Step". What I believe happened is tha

[2019-02-13 15:15] jackblun commented on #22
Thanks @anjoung. To make sure I understand, is the issue that in these cases with two games, the sales for both games are listed in the same column, often without indication of which weeks refer to each game? If so, bar the ones you can easily correct, we should drop these games for each year that this is an issue in, because the switching of games mid-year will just add noise to our data.

La Fle

[2019-02-13 15:18] anjoung commented on #22
@jackblun That's exactly the issue! I can definitely drop those observation and I'll also take a look at the new data!

[2019-02-14 16:48] anjoung commented on #16
Some updates on data.

NJ is offering us prize structure data for [Pick 6](https://www.njlottery.com/en-us/drawgames/pick6lotto.html#tab-oddsAndPrizes) and [Cash 5](https://www.njlottery.com/en-us/drawgames/pick6lotto.html#tab-oddsAndPrizes) for $649.80.

Michigan got back to us and need their second payment of $28.62 before sending us any data. However, in the course of fulfilling our request, th

[2019-02-14 17:39] jackblun commented on #16
Hmm, that seems like slim pickings given the cost from NJ. Perhaps leave that for now. Also, re Michigan, it seems unlikely to be useful to have such a short time period.

[2019-02-14 21:33] anjoung commented on #22
Added the new La Fleurs data

[2019-02-20 15:55] jackblun commented on #20
@huntallcott @bblockwood @dtaubinsky I've done more cleaning up of the La Fleurs data and produced a PDF (in Output/Lyx) going over the latest income effects estimation results. Interestingly, I'm finding on average a low an insignificant elasticity, but evidence of variation in the elasticity by income, meaning roughly that income increases lead to more lottery sales at low levels of income, but

[2019-02-20 21:38] huntallcott commented on #22
@jackblun,
Does your post in #20 mean that you now think that the data are fully cleaned? If so, I’d love it if you could post some diagnostics just to make sure. Here are two proposals:
   - One figure for each state: all games in the state, total sales by quarter, one line for each game, y-axis is a log scale, x-axis is quarter. Make sure that the line stops (instead of interpolating) if there i

[2019-02-20 21:41] huntallcott commented on #20
@jackblun,
Thanks for doing this and for moving things forward!
1. Thanks in particular for doing this in pdf form. I should add another rule from GSLab: writing for the paper should go in Code/Lyx and Output/Lyx. But writing that is mostly intended to provide backup information for issue threads should go in another folder called GitHub/Lotteries/Issues/[IssueNumber]. This document is in-between,

[2019-02-21 13:19] jackblun commented on #22
@anjoung I've uploaded more cleaning stuff, including dropping game-state-years where the data looks no good. The big thing missing is the 94-97 data. How are you getting on with that? We should really wrap up the cleaning of this soon as I'd like to move on to redesigning the experiment, as discussed last week.

@huntallcott I've produced some diagnostic plots in Issues/22 which look okay to me,

[2019-02-21 13:25] jackblun commented on #20
@huntallcott I have updated the file structure and updated / added tables and graphs based on your comments. The new lyx write-up is now in Issues/20 if you'd like to have a look.

As you'll see in what I wrote in #22 , I'm not sure whether @anjoung still has more to do on the data.

[2019-02-21 14:34] anjoung commented on #22
@jackblun The data from 1994 to 1997 has been added and the main cleaning code is edited. The remaining items on that front is identifying game-specific missing data (which I will add to the memo later today).

The only data error that I want to flag is IL1 996w37 - 1996w52. The overall sales variable during that time period does not equal the sum of the columns (though I see we have code that now

[2019-02-21 18:17] jackblun commented on #22
Hey @anjoung thanks for sorting out 94-97. That data is now in the analysis and all working.

If you look in Issues/22 here, you'll see plots of all the states' data. This is quite revealing. There are some games which are the same but which you haven't picked up. You did a great job on the others, and these ones are sometimes a bit less obvious. For example, there is a lotto and an fllotto in FL

[2019-02-21 18:19] jackblun commented on #20
@huntallcott update on this, there is definitely some more cleaning to do (see latest post in #22 ), but I think we are nearly there. The diagnostic plots you suggested are proving very useful, thanks. If you want to take a peek, they are in Issues/22.

[2019-02-21 18:54] anjoung commented on #22
Got it! Just took a look and the graphs are pretty clear, so I can definitely start working through them.

[2019-02-21 22:08] anjoung commented on #22
@jackblun Where is the code that made those graphs? Would it be okay if I updated those graphs in Issue/22 given some of my updates? Just want to do another round of checking and looking at a slightly more cleaned up set of graphs would be helpful.

[2019-02-22 04:28] huntallcott commented on #20
Jack, many thanks.
1. Interesting that the concavity holds up in the subsamples, although
we'll have to see what happens as we clean the data more, of course.
2. On the scatterplot, minor but I would just make these v small dots
instead of shaded circles.
3. More importantly on the scatterplot, another diagnostic will be to make
the scatterplot again after things in #22 settle down, and then look

[2019-02-22 08:38] jackblun commented on #22
@anjoung sure, the code is in a temp folder in Code/

[2019-02-22 08:51] jackblun commented on #20
Some responses:
3. Yes, will look at this once the remaining game-name issues are sorted.
4. I think it will make sense to restrict to games with say 10 years of data in the income effects estimation. I had a look at a few of these very short games (<2 years) and for the ones I tested, they seem to be correct. I think its quite telling that for most of these short games, sales are high at first an

[2019-02-22 20:47] anjoung commented on #22
Just finished looking through the graphs and editing the code. To be clear, I only merge together two games if there is no discontinuity between them. Even if I am pretty sure that it is the same game, if game A has data for 2007 and 2011, and Game B has data for 2009, then I do not merge these games together.

For the ones that I felt were pretty clear and continuous, I added them to the section

[2019-02-25 15:43] anjoung commented on #23
Just pushed code to make the Wisconsin data the main jackpot variable.

[2019-02-26 22:50] anjoung commented on #22
@jackblun Just updated the data inconsistencies memo using the new data with revised game names and data from 1994 to 1997. Specifically, updated what year-weeks for which we have missing data across the entire state, and missing data at the game-state level.

One thing that I want to flag is that adding the data from 1994 to 1997 has introduced more "duplicate dates" issues. Previously, we occasi

[2019-02-27 09:09] jackblun commented on #22
Hi @anjoung , thanks for the update.

1. On your discussion of the potential game name changes for florida, is it not possible to work out which games are the same by just checking for continuity in the sales levels across the break? To me, it looks like fllotto and lotto line up perfectly, whereas for fantasy5 the years don't match up. Where possible, we want to match games that are the same. Our

[2019-02-27 16:07] anjoung commented on #22
Got it @jackblun. Will try to look more closely for discontinuities to match things up and let you know about any remaining cases. Also, I'll just sum together state-game sales data at the year-week level.

[2019-02-27 16:10] jackblun commented on #22
Just very briefly, rather than summing all duplicate weeks you should
inspect at least a few of them (all if not too many) to check whether it is
just the case that they are one week which has been split up. If the cause
is some other problem, such as entirely duplicated rows, clearly we don't
want to sum, but rather drop one of the duplicates. Thanks

On Wed, 27 Feb 2019, 16:07 Andrew Joung, <not

[2019-02-27 20:38] anjoung commented on #22
@jackblun Took a closer look at all the games that I wasn't 100% sure about, and thing look alright. I didn't use the log_sales_pc variable that you used for your graphs. I just plotted the raw sales variable. There was only one case where things seem to match up, but the noise pattern for one game name is very different than the other (made note in cleaning data; AZ fantasy5 and pick5).

For the

[2019-02-28 10:27] jackblun commented on #22
@anjoung thanks for all this, the graphs are looking much better.

@huntallcott, @bblockwood and @dtaubinsky, before the next round of income effects analysis, now would be a good time for you to take a look at the data diagnostics to see what you think of the La Fleurs data. As before, these are in Issue/22, and split into three subfolders, as described below:
1. sales_gamelevel_bystate contains

[2019-02-28 11:31] jackblun opened #24 "Develop MTurk survey instrument v4"
The goal of this issue is to develop a new survey instrument to be implemented through Amazon MTurk.

[2019-02-28 12:38] jackblun commented on #24
Latest survey instrument (work in progress) is here: https://docs.google.com/document/d/1u-uK5HjYFCwNHzqz-bBc9AJgWXDb-pP8OzYzZU3ZqWI/edit#

[2019-02-28 18:24] jackblun commented on #24
I've got a rough draft of the new MTurk survey here (also in the Dropbox TESS folder): https://docs.google.com/document/d/1u-uK5HjYFCwNHzqz-bBc9AJgWXDb-pP8OzYzZU3ZqWI/edit#heading=h.osp19s8uo8ig

I've added a bunch of stuff, including a new set of choices involving scratch-offs at the end, and some questions seeking to get more specifically at overconfidence. I've flagged the new sections with com

[2019-03-01 01:17] huntallcott commented on #22
Thanks much @jackblun @anjoung. I can see that it's been a lot of work.

In response to @jackblun's comments:
1. Minor but log_sales_pc_hist.pdf suggests to me that 5 years might include a lot more games, and I think 5 years is sufficient.
2. Interesting
3. So you're saying that these outliers in sales_pc_hist.pdf are correct and generally RI VLT?

Some additional thoughts:
A. Given that lottos ar

[2019-03-01 08:53] jackblun commented on #22
@huntallcott in response to the first points:

1) Agreed, whatever we do we should do for a variety of cutoffs of number of quarters required to be included.
3) There are four observations in sales_pc_hist.pdf with sales per cap over $100 per quarter. These are all VLT games. The top two are in RI, the third and fourth are MA and WV. As I was trying to illustrate with log_sales_pc_hist_bygametype.

[2019-03-01 13:34] huntallcott commented on #22
@jackblun
2. Just checking -- that article is from Europe. You're sure that VLT also tends to be in casinos in the US? Absent the EU regulation, it seems like they could also be in convenience stores, airports, etc., at least in theory.

B. Just to be clear -- I think we need to explicitly pull out "lotto" games, not leave them in "other." The reason is that state-run lotto specifically seems to b

[2019-03-01 14:37] jackblun commented on #22
@huntallcott
2. Sorry for the lazy link. I looked at a few cases but I've had a more thorough look and the location of VLTs varies a lot by state. In RI for example, they are just in the [casinos](https://www.rilot.com/en-us/table-games.html). In WV, they can be in [bars and restaurants too](https://www.americancasinoguide.com/casinos-by-state/west-virgina-casinos.html). New York recently put them

[2019-03-01 14:59] huntallcott commented on #24
@jackblun thanks for doing this and pushing it forward!!!!!!!!!!!
I left a bunch of comments in the google doc. Ben, can you look at this next?
In addition, several other big-pictures comments:
1. I think it's generally too long -- TESS is so expensive that we need to focus on cutting down. In addition, that length will probably reduce quality of responses.
2. Ben can you look at Section 9 and mak

[2019-03-01 15:15] anjoung commented on #22
@jackblun The memo is in the "Notes" subfolder and is called "Data inconsistencies". Noticed that the specific case you raised is missing from my memo, and am going to figure out why I missed it. It will be completely updated by the end of today/early morning tomorrow.

[2019-03-01 19:08] anjoung commented on #22
@jackblun Just looked over the data and my memo should be up-to-date, now. I've been using the dataset "lafleurs_clean" to do all my checking, but saw that there is code in the do-file "dataprep_merge" that suppressed some of this sales data because you observed "weirdness". Since that code only affected the data file "incomeeffects_gamelevel_clean", I did not observe it. From now on, I'll only ob

[2019-03-01 20:44] bblockwood commented on #24
Absolutely! Thanks @jackblun, I'll go through it this weekend.

[2019-03-02 17:50] bblockwood opened #25 "Set up MTurk survey"
The goal of this issue is to prepare everything necessary for launching the lotteries survey on MTurk, including the following:

1. Obtain IRB approval/exempt status, through a "blanket" IRB request.
2. Request fund matching through Wharton Behavioral Lab.
3. Prepare task for launch on TurkPrime (probably?) and pre-load funds.

[2019-03-02 18:17] anjoung commented on #25
@bblockwood Will I be taking the lead on writing the IRB report?

[2019-03-02 18:19] bblockwood commented on #25
Thanks for the quick follow-up! Yes, but I’d like to do it as a “blanket IRB request” which will cover this and an open-ended range of other potential MTurk studies that could be run in the future. Hold off for the moment and I’m planning to get you an example of such a request by early next week.

[2019-03-02 21:48] bblockwood commented on #24
Thanks @jackblun and @huntallcott for your work on the survey so far. I have just gone through and made a bunch of comments. I suggested a few high-level changes:

1. Retaining @jackblun's section 8c for overconfidence, but moving it after the MPL elicitation.
2. Consistent with @huntallcott's suggestion, implement two versions of the survey, one for a lotto and one for a scratch-off. Clearly desc

[2019-03-04 21:26] huntallcott commented on #24
@bblockwood thanks for doing this and for your continued work on the model.
1. I disagree and just left you some comments.

Let me know what you think, and then I agree we can go back to @jackblun for an overhaul, then to @dtaubinsky.

[2019-03-05 02:30] bblockwood commented on #24
Thanks @huntallcott, the comments are great. On 1 (the issue of 8c) let's pick up here, since the gdoc sidebar is getting unwieldy. You wrote:

I think it's easier to respond in reverse:

(2) I hear you on wanting to allow for lots of flexibility in lotto playing behavior. But as we discussed on our last call, I think it's hard to know how a respondent interprets "how much money you would expect t

[2019-03-05 20:32] huntallcott commented on #24
@bblockwood gracias amigo.
Reactions to your excellent post:
2. I think that the broad class of overconfidence is MUCH bigger than the narrow overconfidence around being a better number picker on a specific game that the experimenter picks, so these questions in 8.C are really missing the boat. But maybe they are useful as IVs to correct for measurement error, although you can see that the RST ref

[2019-03-05 21:32] bblockwood commented on #24
@huntallcott, thank you, these are good ideas. You're right, my concern is about the interpretation of "expect." [OED](https://en.oxforddictionaries.com/definition/expect)'s first definition is "to regard as likely to happen," which I think is ok for the highest prize question, but problematic if we want expected value. (In the extreme, suppose we gave them four $1 tickets and asked "how much do y

[2019-03-06 09:47] jackblun commented on #24
Thanks @bblockwood and @huntallcott for all the discussion. I've changed the doc up to and including Section 5, where there is a lot of agreement. Agreed that it might make sense to have two completely distinct surveys, one structured around scratch-offs and one around lottos.

On the issue of expectations, one important bit of feedback from the first few mturk surveys was that people saw the expe

[2019-03-06 10:44] jackblun commented on #22
Hey @anjoung, in the cleaning code, I've gone through and added a variable called 'poorsalesdata_flag'. This is set to 1 if we have found a problem with the data. This is fed both from dataprep_lafleurs and dataprep_merge. The goal of this is to keep clear which data from LaFleurs is actually missing, and which data we have a problem with. They have not being super helpful so we are going to have

[2019-03-06 17:52] huntallcott commented on #24
@jackblun @bblockwood:
1. Regarding the Overconfidence section:
* I vote we ask the following two questions for sure, per @bblockwood's suggestion:
   - Different people like to play lottery games in different ways. Over the long run, for every dollar you spend on the lottery, how much do you expect you'll win back on average?
  - How much do you expect that the average lottery player in your stat

[2019-03-06 23:17] bblockwood commented on #24
Re @huntallcott's good logistical question:

4. I think we don't want the blind ticket recipient to be a friend of theirs. How about this? "These payments and blind lottery tickets will really be awarded. [Details:] they will be administered by Wharton School research staff members. Recipient names have been selected from the Philadelphia area, and will be randomly paired with any blind lottery ti

[2019-03-06 23:24] huntallcott commented on #24
@bblockwood I love it.

[2019-03-07 03:49] dtaubinsky commented on #24
@bblockwood this is great!

[2019-03-08 22:05] anjoung commented on #22
@jackblun Still have a few more games to observe, but close to done and should 100% have it done on Monday. In the meanwhile, I wanted to post the memo on here. The only thing remaining is commenting on "poor" sales data for each specific game. Everything else is in place, but if you want me to adjust or add anything, please let me know!!
[Data inconsistencies_v2.docx](https://github.com/huntallco

[2019-03-11 14:02] jackblun commented on #24
@huntallcott @bblockwood @dtaubinsky I've updated the survey doc here in light of our discussion: https://docs.google.com/document/d/1u-uK5HjYFCwNHzqz-bBc9AJgWXDb-pP8OzYzZU3ZqWI/edit#

I think most sections look good and are definitely an improvement. I'm still not entirely happy with Sections 6 and 7, which may need a bit more work. One thing you guys will have insight on is how good my chosen lo

[2019-03-12 15:55] anjoung commented on #22
@jackblun Here's the complete memo! I am traveling for grad school visits this week, but if there are any issues just let me know. Will have a lot of lag time while traveling.

I paid particular focus to Mega Millions and Powerball in this memo. I can do the same for any other games if you'd like. Also, for games we flagged for poor data quality, I highlighted any games that I wasn't completely su

[2019-03-14 15:51] huntallcott commented on #24
@jackblun thanks so much for doing this.
Sorry for the delay. DT, BBL, and I have been working on soda taxes, but we are coming back with a vengeance now and excited to get this out ASAP.
6. I like it, and it seems clear. I think we could see some directional impact, but I don’t think it’s at all fair to think of it “full debiasing.” Thus, it would generate a very loose bound on bias. So am intere

[2019-03-14 15:59] huntallcott commented on #24
Also @jackblun , two other things:
A. I know this is just sematics, but conceptually let's not call section 7 the "heavy-handed" treatment. Let's think of it as "even-handed but direct."
B. Can you find something other than being struck by lighting? It's too ... heavy-handed. Would you be willing to look at the death statistics summary somewhere online, and maybe get the car deaths from there, plu

[2019-03-15 17:30] jackblun commented on #22
Thanks for this @anjoung . I've reviewed the doc and have a few comments:
1. Raffles are frequently missing for periods within the year. I've done some research and as outlined [here](https://www.lottoexposed.com/lottery-raffles-exposed/), Raffles tend to be short-term special events over holidays. Therefore I think them being missing is probably not a data problem but rather the true state of the

[2019-03-15 17:33] jackblun commented on #24
@huntallcott thanks. I have two big presentations early next week so won't be able to get a new iteration of the survey out before then but will integrate suggestions next week.

[2019-03-18 16:23] anjoung commented on #22
Got it! I suspected that I'd have to condense my original document. I'll start working on identifying these "special cases".

[2019-03-19 15:32] jackblun commented on #22
Hey @anjoung I'm going to have a call with La Fleurs later this week, is there any chance an updated and condensed doc will be ready say tomorrow so that I can send to them?

[2019-03-19 16:39] anjoung commented on #22
Hey @jackblun I can get this to you by the end of tomorrow. What should I do about cases where I perceived a possible issue or had a disagreement with you over coding? Should I just defer to your original judgement and remove my notes?

[2019-03-19 16:41] jackblun commented on #22
I had a look at a couple of those cases and I think you can go ahead and over-rule what I did. I’ll check all the cases again later. Just keep a note. Thanks a lot for doing this so quickly.

Jack

[2019-03-19 20:49] anjoung commented on #22
@jackblun Finished the memo, but please let me know if there's anything missing or you'd like me to change the formatting. Refer to "Data Inconsistencies_v3" to see the current state of the data. The memo "Data Inconsistencies_v2" is identical to v3, except it retains my notes about spots where you and I had discrepancies. The memo "Memo for La Fleurs" is the memo for La Fleurs.

I noticed one oth

[2019-03-20 08:52] jackblun commented on #22
Thanks, I’ll take a look at this later. Re the seasonal games, don’t mark them as poor data, as the data is fine. I think we can leave them unflagged.

[2019-03-20 08:52] jackblun commented on #22
On that final point, if possible do make a note of the types of names which correspond to seasonal games, in case we forget.

[2019-03-20 17:18] jackblun commented on #22
This looks great. Could you explain what the final section, named ‘missing games (unclear cases)’ means? I don’t understand the description.

[2019-03-20 18:02] anjoung commented on #22
Those games are game names that I wasn't sure represented a game but had missing data issues. For example, some of those names represent a category of games (e.g., _inst_, _breakopens_, _fastplay_). Other games might be feature of game (e.g., _extra_, _addaplay_). In one specific case, I flagged a game called _megamultipler_ because I am very confident that this game has nothing to do with Mega Mi

[2019-03-20 18:03] jackblun commented on #22
Okay, I think I see. Thanks

[2019-03-21 16:43] anjoung commented on #16
@jackblun Just got a bunch of jackpot data from MA. Just added it the Dropbox in _DataStorageCodebooks/Draw Game Data_. Let me know if this is something worth prioritizing (in terms of merging with the sales data). Been working on trying to merge Texas data whenever I have free time.

[2019-03-24 18:56] bblockwood commented on #16
@huntallcott wanted your thoughts on this: I came across this [this data dump](https://www.muckrock.com/news/archives/2015/feb/17/massachusetts-keno-sales-year/) with zip-by-year Keno sales in MA from a public records request. I don't think this data specifically is so useful to us, as we're not focusing on Keno, but it suggests there may be more geographically disaggregated data out there than La

[2019-03-25 03:31] huntallcott commented on #16
Thanks for flagging this. My sense is that it would take a lot of effort to
get this sort of data comprehensively from enough states such that it would
beat the current state-level LaFleur data. So I agree with you to take no
action now.

On Sunday, March 24, 2019, Benjamin Lockwood <notifications@github.com>
wrote:

--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2019-03-25 21:44] anjoung commented on #24
@bblockwood Asked me to implement these changes, and I made my first go! Just wanted to flag a few things:
- Changed "struck by lightening" to "caught the plague", but the likelihood of catching the plague is much lower and want to make sure that isn't an issue
- For the 1/50 event, I chose the likelihood that an American household has exactly six members
- I wasn't sure how to answer the question

[2019-03-25 22:06] bblockwood commented on #24
Thanks @anjoung, this is a great start. A couple thoughts:

* I'd love to use a risk for 1/50 that is something that feels more haphazard than the number of members of a household, since people don't think of that as something that happens randomly. What about something like: "the probability that a randomly pulled over car happens to be a Honda Civic" (or whatever gives the right odds)?
* Regardi

[2019-03-26 02:24] huntallcott commented on #3
closing this, as it is superseded by #24.

[2019-03-26 02:24] #3 closed

[2019-03-26 02:27] huntallcott commented on #22
@jackblun I think we're going to have @anjoung proceed with the LaFleur data, income effects estimation, etc., so as to keep pressing forward.
Did you end up talking with LaFleur last week? And is there any info you need to transfer to @anjoung so that he can close this out?
Many thanks.

[2019-03-26 04:03] huntallcott commented on #24
@jackblun sorry to bother but I have quick questions on the spending questions.
1. Can you point us to the exact text of the survey where these came from? Or did we make up these questions? In general for surveys let's include a link to the relevant questionnaire if we are taking the wording from another paper.
2. You wrote that Keno is not a lotto game, but I think it technically is. (Incidentall

[2019-03-26 13:37] huntallcott commented on #24
@anjoung thanks for doing this.
I left a bunch of comments. Take a look and address? Then let's do one more iteration before you put it into Qualtrics.
Many thanks!

@bblockwood, I left some comments in Section 8 and 9 for you. Can you take a look at those?

[2019-03-26 18:51] anjoung commented on #24
Updated the draft. Need some clarification on a few things @huntallcott asked.

Also, for the investment that pays out worse than the average state lottery, I picked investing in bitcoin, which in January 2018 was around 10,000 and in January 2019 was around 3,000.

[2019-03-26 19:10] huntallcott commented on #24
Thanks @anjoung. I think I answered your questions.
So there are remaining questions for @bblockwood , @dtaubinsky, and a quick one for @jackblun.
After that gets sorted out and you revise the instrument accordingly, I'll take a final look!

[2019-03-26 19:11] anjoung commented on #24
@huntallcott I responded to one of your answers: "Sorry just to be clear there are other ways of playing that yield a different house advantage! They are just worse outcomes (e.g., if I play five-numbers, I get something like a 7% loss overtime)."

Just want to make sure that was clear. Otherwise, yes everything is sorted!

[2019-03-26 19:15] huntallcott commented on #24
I see. Just say 5-7 percent expected loss. Also if that kind of range doesn't change the ordering with the other "investments," you could also decide not to limit to "American" roulette.

[2019-03-26 19:16] anjoung commented on #24
Got it

[2019-03-27 14:36] anjoung opened #26 "Estimating demand elasticities"
This issue is to track discussion on how we will be estimating the demand elasticity for lottery tickets. We will begin by estimating the elasticities for Powerball and Mega Millions, before moving onto state lotteries.

[2019-03-27 21:09] anjoung commented on #26
@bblockwood Got some preliminary results, so here they are first. For this analysis, I'm only looking at Powerball and Mega Millions. The variables are:

- _sales_log_: log weekly sales at state-level
- _jackpot_log_: log jackpot size
- _jackpotpb_log_: log probability of winning jackpot

`reghdfe sales_log jackpot_log jackpotpb_log, absorb(game state year)`
![image](https://user-images.githubuser

[2019-03-27 21:35] bblockwood commented on #26
@anjoung great to have some initial results on this! (Was there a reason you didn't include state and year FEs in the binscatters?) The large negative coefficient on probability makes me wonder if we're missing something there though. What is the main source of variation in winning probability? (The probability of picking any given N-digit winning number doesn't change over time, so I'm trying to

[2019-03-29 14:43] jackblun commented on #22
Hi @huntallcott @anjoung , no response from La Fleurs for a week. I sent them the detailed doc on the inconsistencies in the data. When they do get back to us, they tend to be enthusiastic, so I hope that they are digging into the inconsistencies for us. I think that there is still a chance they could find some additional data for us, but its unlikely that the final, cleanest data will be signific

[2019-03-29 14:44] anjoung commented on #26
@bblockwood I found an error that I made when I re-formatted the data to include state-level variation. That error removed a lot of data, so the observations will basically double compared to the previous analysis. Additionally, for the new analysis, I divided the sales data by the number of draws and incorporate expected values. Also, I am storing the new analysis in a [Google Doc](https://docs.g

[2019-03-29 14:53] jackblun commented on #24
@huntallcott sorry for the delay. On your questions above:
1. Can you point us to the exact text of the survey where these came from? Or did we make up these questions? In general for surveys let's include a link to the relevant questionnaire if we are taking the wording from another paper.

The motivation behind the choice of expenditure questions is Wood and Williams (2008) - "How Much Money Do

[2019-03-29 15:50] bblockwood commented on #26
@anjoung thanks for pressing on this. A few comments/requests:

1. Instead of putting this in a google doc, please create a lyx doc embedding the figures and your descriptive text, in your Temp folder in *dropbox/code/*. (Incidentally, that folder can just be called "Temp-Andrew".) That way, in the future if you correct a data error, the figures will all auto-update—right now, any such changes wou

[2019-03-29 18:14] anjoung commented on #26
@bblockwood To answer question (2), all odds change simultaneously so, yes, large changes in the jackpot coincide with changes in small prize probabilities. Another related question might be, "Do small prize changes follow historically large jackpots?" I don't have an answer to that.

Some additional context. Changes in prize structure are typically announced with a lot of media attention. I don't

[2019-03-29 18:16] anjoung commented on #26
Also, regarding (3), I've divides the sales data evenly across associated draws

[2019-03-29 20:26] anjoung commented on #26
Made the Lyx document! Here's the PDF output. The Lyx file, the PDF, and the files used to produce the figures are in my temp folder.

[Estimating_Demand_Elasticities.pdf](https://github.com/huntallcott/Lotteries/files/3024421/Estimating_Demand_Elasticities.pdf)

[2019-03-31 18:59] huntallcott commented on #22
@anjoung @jackblun,
This I think is the main task that we need to transfer over from @jackblun to @anjoung. Per the original [post](https://github.com/huntallcott/Lotteries/issues/22#issue-401396769), the goal was to to clean the LaFleur's data.
Here is my proposal. We close this out this week with the following deliverables:
1. A web link to the code on our repo required to clean the LaFleur data

[2019-04-01 14:40] anjoung commented on #22
@huntallcott My only question is when you say "key = [state game]", is it implied that "key = [state game year-week]" or do you mean a dataset where I collapse all the sales data down to the state-game level?

[2019-04-01 16:50] huntallcott commented on #22
For what I mean by "key," see chapter 5 [here](https://web.stanford.edu/~gentzkow/research/CodeAndData.pdf).
But I think you had a more specific question. I meant the following: the original classification of gametype that you are doing should be for each game in each state, so it doesn't vary by year. So there should be a data input spreadsheet that you have that lists each game x state and how i

[2019-04-01 19:29] anjoung commented on #22
I think that I understand. By _gametype_, do you mean the kind of lottery ticket? I am not exactly sure what you mean by "_original classification of gametype_". As far as I understand, original raw data does not classify each game. Sorry for the back forth and the confusion on my end.

[2019-04-01 19:38] huntallcott commented on #22
Whatever you guys are doing to construct the mm, pb, vlt, inst, pulltab indicator variables, and other game types being discussed in point B [here](https://github.com/huntallcott/Lotteries/issues/22#issuecomment-468504193), above on this thread.

[2019-04-01 19:50] anjoung commented on #22
Got it! Thank you

[2019-04-03 20:20] anjoung commented on #22
Update! To classify by game type each game-state pair, I've been moving one-by-one looking up each game. Some games I can just easily classify because the name makes it clear (e.g., _clubkeno_=keno, _lottoamerica_=lotto). However, a lot of names don't give any clues. In previous comments, it was suggested that Jack or I just quickly scan a few and see if most of these are just lottos. It looks lik

[2019-04-03 20:35] anjoung commented on #22
Sorry! One more question. My understanding from previous posts was that we should only keep games with at least 5-years of data, but I wanted to double-check that I wasn't misunderstanding.

[2019-04-04 14:29] huntallcott commented on #22
1. I'd say these are "other"
2. I'd say to use your best judgment.
3. I'd put add-ons with the parent game.
4. RE: your subsequent post, feel free to leave gametype missing for games with less than 5 years of data, and yes please drop those in the income effects estimation.
5. In terms of any specific games where the classification is questionable or difficult, I would actually indicate that in th

[2019-04-04 14:35] anjoung commented on #22
This all makes sense and is very helpful! Will get to work on this.

[2019-04-04 19:23] anjoung commented on #26
Not sure if this is relevant and certainly have not begun doing anything with MA data, but found this article: https://www.theatlantic.com/business/archive/2016/02/how-mit-students-gamed-the-lottery/470349/

Apparently, there was a brief period where there was a group of people who found out how to guarantee a positive ROI from the lottery WinFall in MA during the early 2000s.

[2019-04-05 12:58] bblockwood commented on #26
Fascinating. I don't think this is something we have a use for right now, but two things:

1. Please make a gdoc note called "Lottery anomalies" (in Dropbox) where you link to this article, as well the case you mentioned previously of a lottery-only tax (in New Hampshire? Vermont?) that was later repealed. These could turn out to be useful for something, and it would be nice to have a set of links

[2019-04-05 16:48] anjoung commented on #22
Here's the spreadsheet where I classify all game-state pairs with at least five years of data:
[Game classification.xlsx](https://github.com/huntallcott/Lotteries/files/3048863/Game.classification.xlsx). This file is located in the "Notes" subfolder in Dropbox.

I've marked everything for which I have some degree of uncertainty. For the following broad categories of games, I just want to make sure

[2019-04-05 19:27] huntallcott commented on #22
@anjoung this looks good.
A. Since this will be used for the data analysis, please go ahead and move it to the Externals/Data folder? B. Then please develop code to input this spreadsheet into Stata and merge it into the LaFleur's data, keeping the `type` variable, and then using type x quarter-of-sample as a control in the income effects regressions?
C. So it seems like the remaining thing from m

[2019-04-05 20:39] bblockwood commented on #22
Thanks @anjoung! @huntallcott, we are aligned on all of this. By all means please do weigh in like this so we keep the ball moving quickly on this project -- I will too, and will raise alarm if you write anything I disagree with ;-)

[2019-04-11 01:18] huntallcott commented on #22
Hi @anjoung, just checking in, how is all this going?
Would be great to move onto the analysis, that's the more fun part, once the data cleaning is wrapped up.
Thanks for your work.

[2019-04-11 01:19] bblockwood commented on #22
Sorry this was a communication gap on my end — @anjoung was offline Monday through today for grad school visits, with my blessing.

[2019-04-11 02:14] huntallcott commented on #24
@jackblun thanks for your response above.

@anjoung @bblockwood @dtaubinsky,
This survey is ready to go. @anjoung can you code it up into Qualtrics as time allows?

[2019-04-11 02:21] huntallcott opened #27 "Develop field experiment"
The goal of this issue is to continue to consider the field experiment that @dtaubinsky @bblockwood and I discussed last week. This continues #3.

We would have the same intervention (providing information on expected value) that we're developing in #24, but outcomes (lottery ticket purchases) would be measured by people's actual purchases, not an MPL.

Two implementation options:
1. Lottery store

[2019-04-11 20:01] anjoung commented on #22
Wrapped up compiling (1) a dataset with gametype key = [game state], and (2) a dataset with revenues key = [game state quarter-year].

For (1), here's the data: [Game Classifications.xlsx](https://github.com/huntallcott/Lotteries/files/3070333/Game.Classifications.xlsx). This is located in the "Externals/Data" subfolder.

For (2), you need to first run "SetGlobals", but afterwards if you just run

[2019-04-12 13:33] huntallcott commented on #22
Great, thank you @anjoung!
Excited to read the data memo.

[2019-04-16 14:19] bblockwood commented on #23
@anjoung picking this task back up, as I look at _DataStorageCodebooks/Data Overview.xlsx_ it appears that we have 12 different lotteries across 7 states for which jackpot data can be merged to LaFleur's. Can you please carry out the following next steps?
1. Clean up /DataStorageCodebooks/Draw Game Data/ so that it’s clear where the data is located (e.g., one subfolder for each state, with consist

[2019-04-16 18:23] huntallcott commented on #24
@rajbhargava re-assigning the Qualtrics programming to you!

[2019-04-16 18:54] huntallcott opened #28 "Clean up dropbox and GitHub repo"
The goal of this is to make sure the dropbox folder and GitHub repo are organized, now that @rajbhargava is joining the project.

@rajbhargava is an organization freak (he inherited this from Matt Gentzkow), and he will explode if we don't stay organized.

cc @anjoung @bblockwood @dtaubinsky

#### GitHub
I have just re-organized the GitHub repo.
* I changed the organization so that we have functio

[2019-04-16 21:58] anjoung commented on #28
Will get to work on this first thing tomorrow. Looking forward to working with @rajbhargava !

[2019-04-16 21:59] anjoung commented on #22
Here is the data memo:
[Data inconsistencies (detailed).docx](https://github.com/huntallcott/Lotteries/files/3087065/Data.inconsistencies.detailed.docx)

I also made a version with far less detail, and focuses on data problems: [Data inconsistencies (simplified).docx](https://github.com/huntallcott/Lotteries/files/3087069/Data.inconsistencies.simplified.docx)

Please let me know if there are any c

[2019-04-17 18:26] huntallcott commented on #22
Andrew:
Great, thank you. I didn't do a full check but these are some quick reactions:
1.	Great work on the two memos. They are similar enough in length (22 vs. 19 pages) that I don’t see what we are getting out of the simplified version. Feel free to delete the simplified one unless I'm missing something?
2.	Are the comments in dataprep_lafleurs correct? E.g. line 14 says that “Note 1994 data too

[2019-04-17 19:34] anjoung commented on #22
1. I mainly removed extra details that might distract a reader when scanning over the document, so nothing major. Jack had me create these simplified documents mainly for La Fleurs, so that we send them as condensed a memo as possible. Will remove the simplified document. Can revive it if it seems necessary.
2. Comments are incorrect and outdated. I removed that comment and a few others.
3. That i

[2019-04-17 19:43] anjoung commented on #28
**GitHub**

- All the code has been altered to conform to the new GitHub and Dropbox structure
- Removed my temp file. Added it into the Issues subfolder or deleted the code if it was old and not a useful reference.
- There is "simulations" subfolder, which contains stuff that I cannot open. The word "simulations" makes it seem important, so I didn't touch it but please let me know if it should ju

[2019-04-17 19:50] bblockwood commented on #22
Thanks @anjoung, and @huntallcott for input on this. I'm closing this issue; we can reopen as any new LaFleur cleaning needs arise.

[2019-04-17 19:50] #22 closed

[2019-04-17 19:57] huntallcott commented on #28
Great. I have one other request: sometimes there are problems with having file paths with spaces or weird characters, e.g. "Lottery+Sales Data". Can you rename this something else, e.g. LotterySalesData or lottery_sales_data?
Otherwise I think this is good progress and OK to close this issue unless @rajbhargava or @bblockwood has other thoughts.

Thanks again for indulging me on this. I think it r

[2019-04-17 20:01] bblockwood commented on #28
I agree with @huntallcott, with a minor amendment: please also avoid underscore characters in file paths. Lyx doesn’t properly escape them when they’re inserted inline in math mode. Once those are renamed, @anjoung can you please close this issue?

Thanks!

[2019-04-17 20:28] anjoung commented on #28
Done! Spaces remain for "input" filepaths, but we should not be pulling anything into Lyx from the input files (i.e., raw data).

[2019-04-17 20:28] #28 closed

[2019-04-18 17:17] bblockwood commented on #22
One update — I came across [this Vox article](https://www.vox.com/identities/2016/1/13/10763268/lottery-poor-prey) which plots sales by game type in CT over time:

<img width="737" alt="image" src="https://user-images.githubusercontent.com/956485/56377846-58f8ab00-61d9-11e9-8373-728db3304b5c.png">

For comparison, this is what ours looks like for CT using LeFleur's data:

<img width="1060" alt="im

[2019-04-18 17:43] bblockwood commented on #22
Update: the data behind the Vox article is [here](https://data.ct.gov/Government/Lottery-Sales-By-Game/n9q9-yvd6).

[2019-04-18 21:25] anjoung commented on #23
Update! I finished up merging the sales and jackpot data for Texas Lotto. I am going to spend tomorrow morning just checking it (running summ stats and drawing up some figures), but if everything looks good, my plan is to start working on Arizona and Louisiana next where I believe I might also have zip code level sales data from the state.

(Say believe because it looks like zip code level data, b

[2019-04-19 21:26] anjoung commented on #23
Update: I ended up cleaning North Carolina's prize data, but realized we don't have sales data for this state. Realized that I didn't include in my memo any details about which states for which we have no data. I will add this note at the top of the memo on Monday.

Wrapped up Texas and started and finished Ohio. For Ohio, there were two lottery games.

[2019-04-19 22:41] bblockwood commented on #23
Thanks @anjoung. Please do prioritize the lotteries that give the greatest return on your time, in terms of getting a merged jackpot+sales data set. So definitely depriotize any lottos for which we don't have sales data. (By lottery name, not just by state.) But also any for which it seems like the merge itself will be especially time consuming.

Thanks for your work on this.

[2019-04-22 00:56] huntallcott commented on #27
@bblockwood @dtaubinsky per Ben's email from last week, this task is assigned to us.

I think I now favor option 2 from my original post above. Here is some additional detail.

We design an app that people can put on their phones and scan their lottery receipts + input the bottom line number. (There is a paper that does lottery expenditure diaries, so there is precedent. An app would be even easie

[2019-04-22 19:56] bblockwood commented on #16
@anjoung (bringing our email conversation about Connecticut over here). As you [previously posted](https://github.com/huntallcott/Lotteries/issues/16#issuecomment-455686677), you found a way to load individual web pages for a lottery drawing based on the date string for the drawing — e.g., [here](http://www.ctlottery.org/ajax/getPayouts.aspx?numbers=true&game=6&ddate=04192019) is the page for Apri

[2019-04-22 20:10] anjoung commented on #16
Got it! Assume that I should tackle this after I've gone through the states with data that's easier to clean? Or is CT a high priority?

[2019-04-22 20:14] bblockwood commented on #16
Yes please prioritize the other lotteries/states first.

[2019-04-22 20:57] rajbhargava commented on #24
I've coded up the survey into Qualtrics [here](https://berkeley.ca1.qualtrics.com/jfe/preview/SV_1LYg4YAUri8GTxX?Q_SurveyVersionID=current&Q_CHL=preview).

Few notes:

- For the question where we ask how much you spend on instant lotteries, draw lotteries, then total, I wasn't sure if there was a way for qualtrics to sum and compare answers. Instead, there is a page where we show all participants

[2019-04-22 21:06] anjoung commented on #23
Merged Florida (FL Lotto, Mega Money, Lucky Money) and Illinois (IL Lotto). Need to wrap up formatting stuff, but that will take a few minutes.

Reaching out to FL Lottery commission to get some clarification on Mega Money and Lucky Money regarding prize structure. Also, in working on this, I uncovered that Mega Money was not a jackpot game until January 30th, 2004. However, we have sales data for

[2019-04-22 21:11] bblockwood commented on #27
Thanks @huntallcott. The idea of an app is very cool, and has some novelty in its own right. I wonder if there's a way of accomplishing the same thing with less overhead by just having a protocol for people to text message with us. (E.g., we send them text queries, they answer/send photos of anything like Lotto receipts or purchased tickets, we send them cash via apple or Android pay, etc.)

Recru

[2019-04-22 21:17] bblockwood commented on #24
Thanks @rajbhargava!

@anjoung, given your experience coding up Qualtrics, can you take a look at this when you have a moment, and confer with Raj about how to implement these features?

[2019-04-22 23:25] anjoung commented on #24
Will do! @rajbhargava you might've already done this but please share this survey with my UPenn email (anjoung@upenn.edu). Just ping me once you've done this, so that I confirm that it's been shared. Qualtrics is very finicky with sharing sometimes.

[2019-04-23 17:22] bblockwood commented on #24
Thanks @anjoung and @rajbhargava. You can make me the primary email contact for now, as we'll probably be running the MTurk version through my account with the Wharton Behavioral Lab.

[2019-04-23 19:20] rajbhargava commented on #24
@anjoung: thanks for all the helpful feedback and for the first few notes!

Implemented the following edits:

- I changed the primary email contact to ben.lockwood@wharton.upenn.edu.
- I dropped timing blocks for all questions that are not subjective or open-ended.
- Moved the condition to deny mobile phones to survey flow.
- Changed the end of survey block to something more descriptive.
- Double-

[2019-04-23 19:31] anjoung commented on #24
@rajbhargava Thanks for these changes! I think we still want to remove the "go back" button and js. My impression is that allowing this feature is useful for the expenditure questions (since it exactly matches the text), but allowing participants to return to earlier questions as they progress in the survey overall is a bad thing.

Currently, I have things coded so that if you provide an inconsist

[2019-04-23 20:59] anjoung commented on #23
Wrapped up FL and IL data. Started working on MA, but ran into data issues; sent an email to lottery commission. Switched and started working on PA, which has a lot of formatting issues. Should have that sorted tomorrow, after which I'll have a better sense of the data that I am working with.

Also received a response from AZ regarding my data request. Will check it out tomorrow to see if we have

[2019-04-23 22:00] bblockwood commented on #24
Thanks guys. I agree with @anjoung -- let's conditionally re-ask the expenditure questions a second time, and record both responses, so they're not actually overwriting any data.

[2019-04-23 22:16] rajbhargava commented on #24
great, removed the "go back" button and all associated js.

[2019-04-24 20:54] anjoung commented on #23
Merged data for PA. Starting to dig into some of the more challenging states. Will check out AZ tomorrow, and if that's not fruitful start trying to scrape data for CT.

[2019-04-25 02:43] huntallcott commented on #24
Thanks @rajbhargava @anjoung
1. Can you provide separate links to the different versions of the survey? I wanted to take a look at the treatments. OR a link to a version of the survey that has all treatments turned on?
2. Minor: the title says “preview - credit card usage” survey. Should this be changed?
3. I re-wrote the phrasing of “preferences over lottery play” questions. With -5 (disagree) to

[2019-04-25 14:06] anjoung commented on #24
@rajbhargava For (4), just want to highlight that Qualtrics has a "Version History" under "Tools" so you don't have to manually re-implement everything.

[2019-04-25 18:47] rajbhargava commented on #24
@anjoung thanks! @huntallcott:

1. [Here](https://berkeley.ca1.qualtrics.com/jfe/preview/SV_6lM9oaT8A6sxAlD?Q_SurveyVersionID=current&Q_CHL=preview) is the survey with all treatments.
2. Not sure where you are seeing that, could you clarify?
3. , 4. , 5. Done.

[2019-04-25 21:19] anjoung commented on #23
Started cleaning WA but realized some data was missing. Sent a data request in to WA Lotto Commission.

Got my webscraping script to run and I collected CT small prize data. Working on cleaning and merging it.

[2019-04-25 21:56] huntallcott commented on #24
1. Thanks.
2. See this picture. Not a big deal but if users will see it then we should fix.
![image](https://user-images.githubusercontent.com/23505296/56770344-b795ca00-6781-11e9-9b9d-c8bd476ccf7f.png)
3. Thanks. Please accept those changes in the google doc so that it's clean.

6. Also I made other changes in the google doc in section 4 and after. Can you implement in qualtrics and accept the ch

[2019-04-26 01:43] anjoung commented on #24
@huntallcott Sorry! Thought the text was literally "[more/less]", which seemed weird so I suggested "more or less".

[2019-04-26 17:16] rajbhargava commented on #24
@huntallcott: Fixed the name, randomized whether we say more/less, and accepted and implemented all changes you made in the google doc. Survey with all treatments is [here](https://berkeley.ca1.qualtrics.com/jfe/preview/SV_6PvTiu7zln3BChD?Q_SurveyVersionID=current&Q_CHL=preview).

[2019-04-30 12:47] huntallcott commented on #24
OK so this has addressed all of my comments.
@bblockwood anything else? Or can we get this out and start collecting data?

Separately: @rajbhargava can you open up a separate GitHub task to create an "overview of results doc"? I think we want:
* Descriptive statistics on the sample
* Descriptive information on how people responded to each question, e.g. a table or graph of responses as you see fit

[2019-05-01 14:16] bblockwood commented on #24
@rajbhargava thanks for your work putting this together — the survey looks quite good. I have two minor corrections to content:

1. The screenshots in the Mega Millions multiple price list section look rather fuzzy, but the graphics are very clear on [this page](https://www.megamillions.com/how-to-play). Could you see if it's possible to improve the resolution in the survey, either by replacing th